<template>
	<div>
		<div class="section">
			<h3 class="section-heading -bold">Тема</h3>
			<div class="input-wrp">
				<h3 class="section-heading">Название</h3>
				<input type="text" class="input" v-model="lesson.title">
			</div>
			<div class="input-wrp">
				<h3 class="section-heading">Видео</h3>

				<div class="banner-wrp">
					<input type="text" class="input" v-model="videoLesson.videoUrl">
				</div>
			</div>
			<div class="input-wrp">
				<h3 class="section-heading">Лекция</h3>
				<client-only>
					<quill-editor
						class="editor"
						ref="editor"
						v-model="lectionLesson.description"
						:options="editorOption"
					/>
				</client-only>
			</div>

			<ul class="errors" v-if="$v.lesson.$anyError">
				<li v-if="$v.lesson.title.$error">Field title has error.</li>
			</ul>

			<div class="btn-wrp">
				<UiButton v-if="lesson.id === 0" @click.native="crateItem" class="blue">Создать</UiButton>
				<UiButton v-else @click.native="updateItem" class="blue">Сохранить</UiButton>
			</div>
		</div>
		<div class="section tests">
			<div class="row -mt0 -space-between">
				<h1 class="section-heading -bold">Тесты</h1>
				<UiButton @click.native="$router.push('/courses/new-test')" class="blue add-btn">
					<img src="@/assets/icons/add.svg" alt="icon">
					Добавить
				</UiButton>
			</div>
			<div class="table">
				<div class="table-header">
					<div class="table-col">
						<p class="table-heading">Вопросы</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Правильный ответ</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Дата</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Действие</p>
					</div>
				</div>
				<client-only v-if="0">
					<draggable v-model="tests">
						<div class="table-row" v-for="(item, index) in tests" :key="index">
							<div class="table-col">
								<img src="@/assets/icons/dots.svg" alt="icon" class="dots">
								<p class="table-text">{{item}}</p>
							</div>
							<div class="table-col">
								<p class="table-text">D) Күтілетін нәтиже</p>
							</div>
							<div class="table-col">
								<p class="table-text">10.10.2022/16:36</p>
							</div>
							<div class="table-col">
								<button class="action-btn">
									<Edit />
								</button>
								<button class="action-btn" @click="$setTrue('modal.remove')">
									<Trash />
								</button>
							</div>
						</div>
					</draggable>
				</client-only>
			</div>
			<div class="btn-wrp">
				<UiButton class="grey">Назад</UiButton>
				<UiButton class="blue">Сохранить</UiButton>
			</div>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
import {required} from "vuelidate/lib/validators";
import {validationMixin} from "vuelidate";

export default {
	components: {
		Edit,
		Trash
	},
	mixins: [validationMixin],
	data() {
		return {
			url: "course-service/lessons/",
			drag: false,
			lesson: {
				id: 0,
				title: null,
				chapterId: 0,
				description: null,
				test: null,
				hasTest: false,
				lectionLesson: null,
				videoLesson: null,
				orderNumber: 0
			},
			lectionLesson: {
				description: null,
				lessonId: null
			},
			videoLesson: {
				videoUrl: null,
				name: null,
				duration: 17,
				lessonId: null
			},
			editorOption: {
				theme: 'snow',
				placeholder: 'Введите текст...',
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						['blockquote', 'code-block', 'image'],
						[{ 'list': 'ordered'}, { 'list': 'bullet' }],
						[{ 'indent': '-1'}, { 'indent': '+1' }],
						[{ 'direction': 'rtl' }],
						[{ 'color': [] }, { 'background': [] }],
						[{ 'align': [] }],
						['clean']
					]
				}
			},
			tests: [
				'Кинематика негізгі түсініктері мен теңдеулері 1',
				'Кинематика негізгі түсініктері мен теңдеулері 2',
			]
		}
	},
	created() {
		this.lesson.lectionLesson = this.lectionLesson
		this.lesson.videoLesson = this.videoLesson
	},
	mounted() {
		if (this.$route.params.lesson_id != 0) {
			this.findItem();
		}

		if (this.$route.query.chapter_id) {
			this.lesson.chapterId = this.$route.query.chapter_id;
		}
	},
	methods: {
		async crateItem() {
			this.$v.$touch();

			if (this.$v.lesson.$anyError) {
				setTimeout(() => this.$wait.end('loading'), 1000);
				return;
			}

			await this.videoLection()
			await this.lessonLection()

			let obj = this.lesson;
			delete obj.id;

			if (!this.lectionLesson.id) {
				obj.lectionLesson = {}
			}

			if (!this.videoLesson.id) {
				obj.videoLesson = {}
			}

			//
			await this.$axios
				.post(this.url, obj)
				.then(response => {
					this.$setTrue('toast.success')
					this.$router.push('/chapters/' + this.lesson.chapterId)
				});
		},
		async updateItem() {
			this.$v.$touch();

			if (this.$v.lesson.$anyError) {
				setTimeout(() => this.$wait.end('loading'), 1000);
				return;
			}

			await this.videoLection()
			await this.lessonLection()

			await this.$axios
				.put(this.url, this.lesson)
				.then(response => {
					this.$setTrue('toast.success')
					this.$router.push('/chapters/' + this.lesson.chapterId)
				});
		},
		async lessonLection() {
			// this.$v.$touch();
			//
			// if (this.$v.lesson.$anyError) {
			// 	setTimeout(() => this.$wait.end('loading'), 1000);
			// 	return;
			// }

			//
			if (!this.lectionLesson.description) return;
			if (this.lectionLesson.id) {
				await this.$axios
					.put("course-service/lection-lessons/", this.lectionLesson)
					.then(response => {
						this.lectionLesson = response.data
						this.lesson.lectionLesson = response.data
					});
			} else {
				await this.$axios
					.post("course-service/lection-lessons/", this.lectionLesson)
					.then(response => {
						this.lectionLesson = response.data
						this.lesson.lectionLesson = response.data
					});
			}
		},
		async videoLection() {
			if (!this.videoLesson.videoUrl) return;
			if (this.videoLesson.id) {
				await this.$axios
					.put("course-service/video-lessons/", this.videoLesson)
					.then(response => {
						this.videoLesson = response.data
						this.lesson.videoLesson = response.data
					});
			} else {
				await this.$axios
					.post("course-service/video-lessons/", this.videoLesson)
					.then(response => {
						this.videoLesson = response.data
						this.lesson.videoLesson = response.data
					});
			}
		},
		async findItem() {
			await this.$axios.get(this.url + this.$route.params.lesson_id)
				.then(response => {
					this.lesson = response.data
					this.lectionLesson = this.lesson.lectionLesson ?? this.lectionLesson
					// this.videoLesson = this.lesson.videoLesson
				});
		}
	},
	validations: {
		lesson: {
			title: {
				required
			},
		}
	},
}
</script>

<style lang="sass" scoped>
.add-btn
	margin-top: 0
.row
	display: flex
	align-items: center
	justify-content: space-between
.table
	margin-top: 30px
.table-text, .table-heading
	font-size: 12px
.table-row, .table-header
	padding-left: 20px
	padding-right: 20px
.table-header
	.table-col:nth-child(1)
		padding-left: 26px
.table-row
	cursor: move
.dots
	margin-right: 20px
.table-col
	&:nth-child(1)
		width: 35%
		display: flex
		align-items: center
	&:nth-child(2)
		width: 45%
	&:nth-child(3)
		width: 10%
	&:nth-child(4)
		width: 10%
		display: flex
		justify-content: center
		button
			margin: 0 5px
.tests
	margin-top: 30px
.section-heading
	font-weight: 400
	&.-mb
		margin-bottom: 30px
	&.-bold
		font-weight: 600
.input
	width: 100%
.input-wrp
	margin-top: 30px
.editor
	min-height: 170px
.btn-wrp
	margin-top: 20px
	display: flex
	justify-content: flex-end
	button
		width: 160px
	.blue
		margin-left: 10px
</style>
