<template>
	<div class="section">
		<ListFilter heading="Кинематика негізгі түсініктері мен теңдеулері" />
		<h2 class="section-heading">Список купивших</h2>
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<p class="table-heading">№</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Промокод</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Пользователь</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Область/Город</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Школа</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Профильные предметы</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Дата</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Тел. номер</p>
				</div>
				<div class="table-col"></div>
			</div>
			<div class="table-row" v-for="(item, index) in 8" :key="index">
				<div class="table-col">
					<p class="table-text">001</p>
				</div>
				<div class="table-col">
					<p class="table-text -uppercase">HfhG12</p>
				</div>
				<div class="table-col">
					<p class="table-text">Нұрсұлтан Назарбаев</p>
				</div>
				<div class="table-col">
					<p class="table-text">Туркестанская обл.</p>
					<p class="table-text -sub">Махтааралский р-н</p>
				</div>
				<div class="table-col">
					<p class="table-text">КГУ "Средняя школа имени Жумабека Ташенова"</p>
				</div>
				<div class="table-col">
					<p class="table-text">Химия-Биология</p>
				</div>
				<div class="table-col">
					<p class="table-text">11.12.2022</p>
				</div>
				<div class="table-col">
					<p class="table-text">+77776221100</p>
				</div>
				<div class="table-col">
					<button class="delete" @click="$setTrue('modal.remove')">
						<Trash/>
					</button>
				</div>
			</div>
		</div>
		<UiButton class="blue">Экспорт Excel</UiButton>
	</div>
</template>

<script>
import Trash from '@/assets/icons/trash.svg?inline'

export default {
	components: {
		Trash
	},
	data() {
		return {
			region: 'Все регионы',
			city: 'Город/Район',
			school: 'Школа',
			topics: 'Все предметы',
		}
	}
}
</script>

<style lang="sass" scoped>
.filter
	margin-bottom: 30px
.avatar
	width: 24px
	height: 24px
	object-fit: cover
	border-radius: 10px
	flex-shrink: 0
	margin-right: 5px

.table-heading, .table-text
	font-size: 12px

.table-heading
	font-weight: 400

	&.-sub
		font-size: 10px
		line-height: 1
		margin-bottom: 6px
.table
	margin-top: 20px
.delete
	width: 26px
	height: 26px
	border-radius: 5px
	display: inline-flex
	align-items: center
	justify-content: center
	background-color: #E5ECFF

.table-col
	&:nth-child(1)
		width: 5%
		text-align: center
	&:nth-child(2)
		width: 7.5%
	&:nth-child(3)
		width: 15%
		display: flex
		align-items: center

	&:nth-child(4)
		width: 13%

	&:nth-child(5)
		width: 25%

	&:nth-child(6)
		width: 15%

	&:nth-child(7)
		width: 7.5%
		text-align: center

	&:nth-child(8)
		text-align: center
		width: 10%

	&:nth-child(9)
		width: 5%
		text-align: center
.-uppercase
	text-transform: uppercase
</style>
