<template>
	<div class="section">
		<div class="row">
			<h1 class="section-heading">Марафоны Нұрсұлтан Назарбаева</h1>
		</div>
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<p class="table-heading">Название</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Категория</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Язык</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Цена</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Дата</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Продано</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Активность</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Действие</p>
				</div>
			</div>
			<div class="table-row" v-for="(item, index) in 7" :key="index">
				<div class="table-col">
					<p class="table-text">Кинематика негізгі түсініктері мен теңдеулері</p>
				</div>
				<div class="table-col">
					<p class="table-text">Навыки для педагогов</p>
				</div>
				<div class="table-col">
					<p class="table-text">Қазақша</p>
				</div>
				<div class="table-col">
					<p class="table-text">56900</p>
				</div>
				<div class="table-col">
					<p class="table-text">10.02.2022</p>
				</div>
				<div class="table-col">
					<p class="table-text">356</p>
				</div>
				<div class="table-col">
					<UiSwitch class="small" />
				</div>
				<div class="table-col">
					<button class="action-btn">
						<Edit />
					</button>
					<nuxt-link to="/marathons/purchased" class="action-btn">
						<Users />
					</nuxt-link>
					<button class="action-btn" @click="$setTrue('modal.remove')">
						<Trash />
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
import Users from '@/assets/icons/users2.svg?inline'
export default {
	components: {
		Edit,
		Trash,
		Users
	}
}
</script>

<style lang="sass" scoped>
.row
	display: flex
	align-items: center
	justify-content: space-between
.add-btn
	margin-top: 0
.table
	margin-top: 30px
.table-text, .table-heading
	font-size: 12px
.table-row, .table-header
	padding-left: 20px
	padding-right: 20px
.table-col
	&:nth-child(1)
		width: 25%
	&:nth-child(2)
		width: 17.5%
	&:nth-child(3),
	&:nth-child(5)
		width: 10%
	&:nth-child(4),
	&:nth-child(6)
		width: 7.5%
	&:nth-child(7)
		width: 12.5%
	&:nth-child(8)
		width: 10%
		display: flex
		justify-content: space-between
</style>
