<template>
	<div>
		<div class="section">
			<div class="name-wrp">
				<h3 class="section-heading">Название марафона</h3>
				<input type="text" class="input">
			</div>
			<h3 class="section-heading">Описание марафона</h3>
			<Editor class="editor" />
			<div class="row -select-wrp">
				<div>
					<h3 class="section-heading">Категория</h3>
					<AppSelect :value="category" />
				</div>
				<div>
					<h3 class="section-heading">Язык</h3>
					<AppSelect :value="lang" />
				</div>
				<div>
					<h3 class="section-heading">Теги</h3>
					<AppSelect :value="tags" multiple />
				</div>
			</div>
			<div class="row -price">
				<div>
					<h3 class="section-heading">Бесплатно</h3>
					<UiSwitch class="switch" />
				</div>
				<div>
					<h3 class="section-heading disabled">Цена</h3>
					<input type="text" class="input">
				</div>
				<div>
					<h3 class="section-heading">Старая цена</h3>
					<input type="text" class="input">
				</div>
				<div>
					<h3 class="section-heading">WhatsApp</h3>
					<input type="text" class="input -blue">
				</div>
			</div>
			<div class="banner-wrp">
				<div>
					<h3 class="section-heading">Обложка</h3>
					<label class="file-wrp">
						<input type="file" hidden>
						<UiButton class="blue upload-btn">Загрузить фото</UiButton>
						<p class="file-name">Файл не выбран</p>
					</label>
					<UiButton class="grey remove-btn">Удалить фото</UiButton>
				</div>
				<div class="image-wrp">
					<img src="@/assets/img/placeholder-large.svg" alt="image">
				</div>
			</div>
			<div class="btn-wrp">
				<UiButton class="blue">Сохранить</UiButton>
			</div>
		</div>
		<div class="section chapters">
			<div class="row -mt0 -space-between">
				<h1 class="section-heading -bold">Глава</h1>
				<UiButton @click.native="$router.push('/marathons/new-chapter')" class="blue">
					<img src="@/assets/icons/add.svg" alt="icon">
					Добавить
				</UiButton>
			</div>
			<div class="table">
				<div class="table-header">
					<div class="table-col">
						<p class="table-heading">Название</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Уроки</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Действие</p>
					</div>
				</div>
				<client-only>
					<draggable v-model="chapters">
						<div class="table-row" v-for="(item, index) in chapters" :key="index">
							<div class="table-col">
								<img src="@/assets/icons/dots.svg" alt="icon" class="dots">
								<p class="table-text">{{item}}</p>
							</div>
							<div class="table-col">
								<p class="table-text">16</p>
							</div>
							<div class="table-col">
								<button class="action-btn">
									<Edit />
								</button>
								<button class="action-btn">
									<Trash />
								</button>
							</div>
						</div>
					</draggable>
				</client-only>
			</div>
			<div class="btn-wrp">
				<UiButton class="grey">Назад</UiButton>
				<UiButton class="blue">Сохранить</UiButton>
			</div>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
export default {
	components: {
		Edit,
		Trash
	},
	data() {
		return {
			category: '--',
			lang: '--',
			tags:  '--',
			drag: false,
			chapters: [
				'Кинематика негізгі түсініктері мен теңдеулері 1',
				'Кинематика негізгі түсініктері мен теңдеулері 2',
				'Кинематика негізгі түсініктері мен теңдеулері 3',
				'Кинематика негізгі түсініктері мен теңдеулері 4',
				'Кинематика негізгі түсініктері мен теңдеулері 5',
				'Кинематика негізгі түсініктері мен теңдеулері 6',
				'Кинематика негізгі түсініктері мен теңдеулері 7',
				'Кинематика негізгі түсініктері мен теңдеулері 8',
			]
		}
	}
}
</script>

<style lang="sass" scoped>
.table
	margin-top: 30px
.table-text, .table-heading
	font-size: 12px
.table-row, .table-header
	padding-left: 20px
	padding-right: 20px
.table-header
	.table-col:nth-child(1)
		padding-left: 26px
.table-row
	cursor: move
.dots
	margin-right: 20px
.table-col
	&:nth-child(1)
		width: 70%
		display: flex
		align-items: center
	&:nth-child(2)
		width: 20%
	&:nth-child(3)
		width: 10%
		display: flex
		justify-content: center
		button
			margin: 0 5px
.chapters
	margin-top: 30px
	.row
		display: flex
		&.-space-between
			justify-content: space-between
.editor
	min-height: 170px
.section-heading
	font-weight: 400
	&.disabled
		color: #8F90A6
	&.-bold
		font-weight: 600
.name-wrp
	margin-bottom: 50px
.input
	width: 100%
	&.-blue
		color: var(--c-accent)
.banner-wrp
	display: flex
.image-wrp
	max-width: 645px
	width: 100%
	border: 1px solid #E5ECFF
	display: flex
	align-items: center
	justify-content: center
	background: #fff
	margin-left: auto
	height: 360px
	border-radius: 10px
.btn-wrp
	margin-top: 20px
	display: flex
	justify-content: flex-end
	button
		width: 160px
	.blue
		margin-left: 10px
.file-wrp
	display: flex
	align-items: center
	margin-bottom: 20px
	.upload-btn
		width: 160px
		padding: 0
		margin-top: 5px
.remove-btn
	width: 160px
	margin-left: 0
	margin-top: 0
.switch
	margin-top: 14px
.file-name
	font-size: 14px
	font-weight: 400
	margin-left: 20px
	color: var(--c-gray)
.row
	margin: 50px 0
	display: grid
	grid-gap: 30px
	grid-template-columns: .6fr .4fr
	&.-mt0
		margin-top: 0
	&.-select-wrp
		grid-template-columns: 30% 20% 1fr
	&.-price
		grid-template-columns: 1fr 1fr 1fr
</style>
