<template>
	<div class="section">
		<div class="row -mb">
			<h3 class="section-heading -bold">Тест</h3>
			<label class="label-cbx">
				<span>Добавить контекст</span>
				<input type="checkbox" hidden v-model="showContext">
				<div class="checkbox">
					<svg width="20px" height="20px" viewBox="0 0 20 20">
						<path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
						<polyline points="4 11 8 15 16 6"></polyline>
					</svg>
				</div>
			</label>
			<div class="info">
				<img src="@/assets/icons/info-red.svg" alt="info">
				<p class="popup">Контексттік тапсырмалар мен оқу сауаттылғы пәнінен мәтіндерді салуға арналған</p>
			</div>
		</div>
		<div class="context-wrp" v-if="showContext">
			<h3 class="section-heading">Контекст</h3>
			<Editor class="editor" />
		</div>
		<div class="question-wrp">
			<h3 class="section-heading">Вопрос</h3>
			<Editor class="editor" />
		</div>
		<div class="answer">
			<h3 class="section-heading">Видеорешение вопроса (не обязательно)</h3>
			<input type="text" class="input" value="https://youtu.be/OHFfsuwuyAU">
		</div>
		<div class="row">
			<h3 class="section-heading -bold">Ответы</h3>
			<label class="label-cbx">
				<span>Баллы за ответ по стандартом ЕНТ</span>
				<input type="checkbox" hidden>
				<div class="checkbox">
					<svg width="20px" height="20px" viewBox="0 0 20 20">
						<path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
						<polyline points="4 11 8 15 16 6"></polyline>
					</svg>
				</div>
			</label>
			<div class="info">
				<img src="@/assets/icons/info-red.svg" alt="info">
				<div class="popup -large">
					<p><b>Алгоритм оценивания тестов с 1 правильным ответом из 5-и предложенных</b></p>
					<p>* 1 балла за выбор 1-го правильного ответа из 1-го</p>
					<p>* 0 баллов за выбор 1-го правильного и 2-х лишних ответов из 1-го</p>
					<br>
					<p><b>Алгоритм оценивания тестов с 1 правильным ответом из 8-ми предложенных</b></p>
					<p>* 2 балла за выбор 1-го правильного ответа из 1-го</p>
					<p>* 1 балл за выбор 1-го правильного и 1-го лишнего ответа из 1-го</p>
					<p>* 0 баллов за выбор 1-го правильного и 2-х лишних ответов из 1-го</p>
					<br>
					<p><b>Алгоритм оценивания тестов с 2-мя правильными ответами из 8-ми предложенных</b></p>
					<p>* 2 балла за выбор 2-х правильных ответов из 2-х предложенных</p>
					<p>* 1 балл за выбор 1-го правильного ответа из 2-х предложенных</p>
					<p>* 1 балл за выбор 2-х правильных и 1-ого лишнего ответа из 2-х предложенных</p>
					<p>* 0 балл за выбор 2-х правильных и 2-х лишних ответов из 2-х предложенных</p>
					<p>* 1 балл за выбор 1-го правильного и 1-го лишнего ответа из 2-х предложенных</p>
					<br>
					<p><b>Алгоритм оценивания тестов с 3-мя правильными ответами из 8-ми предложенных</b></p>
					<p>* 2 балла за выбор 3-х правильных ответов из 3-х предложенных</p>
					<p>* 1 балл за выбор 2-х правильных ответов из 3-х предложенных</p>
					<p>* 0 балл за выбор 1-го правильного ответа из 3-х предложенных</p>
					<p>* 1 балл за выбор 3-х правильных ответов и 1-го лишнего ответа из 3-х предложенных</p>
					<p>* 0 балл за выбор 3-х правильных и 2-х лишних ответов из 3-х предложенных</p>
					<p>* 1 балл за выбор 2-х правильных ответов и 1-го лишнего ответа из 3-х предложенных</p>
					<p>* 0 балл за выбор 2-х правильных и 2-х лишних ответов из 3-х предложенных</p>
				</div>
			</div>
		</div>
		<TestItem v-for="(item, index) in 5" :key="index" />
		<button class="add-btn">
			<img src="@/assets/icons/plus.svg" alt="icon">
			Добавить вариант
		</button>
		<div class="btn-wrp">
			<UiButton class="grey">Назад</UiButton>
			<UiButton class="blue">Сохранить</UiButton>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			showContext: false
		}
	}
}
</script>

<style lang="sass" scoped>
.info
	position: relative
	&:hover
		.popup
			opacity: 1
			visibility: visible
.popup
	text-align: center
	position: absolute
	bottom: calc(100% + 10px)
	right: -10%
	background-color: #0E3449
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
	border-radius: 5px
	color: #fff
	font-size: 10px
	padding: 6px 10px
	transition: .3s ease
	opacity: 0
	visibility: hidden
	z-index: 10
	min-width: 190px
	&.-large
		min-width: 440px
		text-align: left
		padding: 10px 14px
		bottom: auto
		top: calc(100% + 10px)
		&:after
			width: 0
			height: 0
			border-style: solid
			border-width: 0 7px 9px 7px
			border-color: transparent transparent #0E3449 transparent
			top: -9px
			bottom: auto
	&:after
		content: ''
		width: 0
		height: 0
		border-style: solid
		border-width: 9px 7px 0 7px
		border-color: #0E3449 transparent transparent transparent
		position: absolute
		bottom: -9px
		right: 5px
.btn-wrp
	margin-top: 20px
	display: flex
	justify-content: flex-end
	.blue
		margin-left: 10px
	button
		width: 160px
		margin-top: 0
.add-btn
	width: 780px
	margin-top: 30px
	margin-left: 93px
	height: 48px
	background: #F2F2F5
	display: flex
	align-items: center
	justify-content: center
	font-size: 16px
	font-weight: 400
	border-radius: 5px
	img
		margin-right: 10px
.row
	display: flex
	align-items: center
	justify-content: space-between
.label-cbx
	margin-left: auto
	margin-top: 0
	margin-right: 10px
.-mb
	margin-bottom: 30px
.section-heading
	font-weight: 400
	&.-bold
		font-weight: 600
.answer
	margin-bottom: 50px
	.input
		width: 100%
		color: #5096F1
.question-wrp,
.context-wrp
	margin-bottom: 30px
</style>
