<template>
	<div>
		<div class="section">
			<h3 class="section-heading -bold -mb">Глава</h3>
			<h3 class="section-heading">Название</h3>
			<input type="text" class="input">
			<div class="btn-wrp">
				<UiButton class="blue">Сохранить</UiButton>
			</div>
		</div>
		<div class="section chapters">
			<div class="row -mt0 -space-between">
				<h1 class="section-heading -bold">Темы</h1>
				<UiButton @click.native="$router.push('/courses/new-topic')" class="blue add-btn">
					<img src="@/assets/icons/add.svg" alt="icon">
					Добавить
				</UiButton>
			</div>
			<div class="table">
				<div class="table-header">
					<div class="table-col">
						<p class="table-heading">Название</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Уроки</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Действие</p>
					</div>
				</div>
				<client-only>
					<draggable v-model="chapters">
						<div class="table-row" v-for="item, index in chapters" :key="index">
							<div class="table-col">
								<img src="@/assets/icons/dots.svg" alt="icon" class="dots">
								<p class="table-text">{{item}}</p>
							</div>
							<div class="table-col">
								<p class="table-text">Күтілетін нәтиже жылдамдықты есептеп шығарыңыз (жалпы жүріп өткен жолды/жалпы өткен</p>
							</div>
							<div class="table-col">
								<button class="action-btn">
									<Edit />
								</button>
								<button class="action-btn" @click="$setTrue('modal.remove')">
									<Trash />
								</button>
							</div>
						</div>
					</draggable>
				</client-only>
			</div>
			<div class="btn-wrp">
				<UiButton class="grey">Назад</UiButton>
				<UiButton class="blue">Сохранить</UiButton>
			</div>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
export default {
	components: {
		Edit,
		Trash
	},
	data() {
		return {
			category: '--',
			lang: '--',
			tags:  '--',
			drag: false,
			chapters: [
				'Кинематика негізгі түсініктері мен теңдеулері 1',
				'Кинематика негізгі түсініктері мен теңдеулері 2',
				'Кинематика негізгі түсініктері мен теңдеулері 3',
				'Кинематика негізгі түсініктері мен теңдеулері 4',
				'Кинематика негізгі түсініктері мен теңдеулері 5',
				'Кинематика негізгі түсініктері мен теңдеулері 6',
				'Кинематика негізгі түсініктері мен теңдеулері 7',
				'Кинематика негізгі түсініктері мен теңдеулері 8',
			]
		}
	}
}
</script>

<style lang="sass" scoped>
.add-btn
	margin-top: 0
.chapters
	margin-top: 30px
.row
	display: flex
	align-items: center
	justify-content: space-between
.table
	margin-top: 30px
.table-text, .table-heading
	font-size: 12px
.table-row, .table-header
	padding-left: 20px
	padding-right: 20px
.table-header
	.table-col:nth-child(1)
		padding-left: 26px
.table-row
	cursor: move
.dots
	margin-right: 20px
.table-col
	&:nth-child(1)
		width: 40%
		display: flex
		align-items: center
	&:nth-child(2)
		width: 50%
	&:nth-child(3)
		width: 10%
		display: flex
		justify-content: center
		button
			margin: 0 5px
.section-heading
	font-weight: 400
	&.-mb
		margin-bottom: 30px
	&.-bold
		font-weight: 600
.input
	width: 100%
.btn-wrp
	margin-top: 20px
	display: flex
	justify-content: flex-end
	.blue
		margin-left: 10px
	button
		margin-top: 0
		width: 160px
</style>
