<template>
	<div class="section">
		<ListFilter class="filter" heading="Кинематика негізгі түсініктері мен теңдеулері" />
		<h1 class="section-heading">Список купивших</h1>
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<p class="table-heading">№</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Пользователь</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Область/Город</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Город/Район</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Школа</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Класс</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Литерал</p>
				</div>
			</div>
			<div class="table-row" v-for="item, index in 8" :key="index">
				<div class="table-col">
					<p class="table-text">001</p>
				</div>
				<div class="table-col">
					<img src="@/assets/img/avatar.png" alt="avatar" class="avatar">
					<p class="table-text">Нұрсұлтан Назарбаев</p>
				</div>
				<div class="table-col">
					<p class="table-text">Туркестанская обл.</p>
				</div>
				<div class="table-col">
					<p class="table-text">Махтааралский р-н</p>
				</div>
				<div class="table-col">
					<p class="table-text">КГУ "Средняя школа имени Жумабека Ташенова"</p>
				</div>
				<div class="table-col">
					<p class="table-text">11</p>
				</div>
				<div class="table-col">
					<p class="table-text">Ә</p>
				</div>
			</div>
		</div>
		<UiButton class="blue">Экспорт Excel</UiButton>
	</div>
</template>

<script>
export default {}
</script>

<style lang="sass" scoped>
.avatar
	width: 24px
	height: 24px
	object-fit: cover
	border-radius: 10px
	flex-shrink: 0
	margin-right: 5px
.table
	margin-top: 20px
.table-heading, .table-text
	font-size: 12px
.table-col
	&:nth-child(1)
		width: 5%
		text-align: center
	&:nth-child(2)
		width: 20%
		display: flex
		align-items: center
	&:nth-child(3),
	&:nth-child(4)
		width: 15%
	&:nth-child(5)
		width: 30%
	&:nth-child(6),
	&:nth-child(7)
		width: 7.5%
		text-align: center
.filter
	margin-bottom: 30px
</style>
