<template>
	<speciality-form :speciality_id="$route.params.speciality_id"></speciality-form>
</template>

<script>
import specialityForm from "~/components/pages/specialities/form";

export default {
	data() {
		return {}
	},
	mounted() {
		this.$store.dispatch("requests/getUniversities").then(() => {
			this.$store.dispatch("requests/setDefaultSpecialityUniversities", this.$route.params.speciality_id).then(() => {
				this.$store.dispatch("requests/getSpecialityUniversities", this.$route.params.speciality_id)
			})
		})
	},
	components: {
		specialityForm
	}
}
</script>
