<template>
	<div class="section">
		<div class="btn-wrp">
			<nuxt-link to="/specialities/new" class="button">
				<img src="@/assets/icons/add.svg" alt="icon">
				Добавить
			</nuxt-link>
		</div>
		<div class="header-wrp">
			<h1 class="section-heading">Специальности</h1>
			<AppSelect class="region" v-model="subject" :options="subjects" />
		</div>
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<h2 class="table-heading">Код</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Специальность</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Профильные предметы</h2>
				</div>
				<div class="table-col"></div>
			</div>
			<div class="table-row" v-for="(item, index) in specialities" :key="index">
				<div class="table-col">
					<p class="table-text">{{ item.code }}</p>
				</div>
				<div class="table-col">
					<p class="table-text">{{ item.name }}</p>
				</div>
				<div class="table-col">
					<p class="table-text" v-for="(s, index) in item.subjects" :key="index" v-if="item.subjects.length > 0">{{ s.name }}</p>
				</div>
				<div class="table-col">
					<button class="action-btn" @click="$router.push({path: '/specialities/' + item.id})">
						<Edit />
					</button>
					<button class="action-btn" @click="remove(index)">
						<Trash />
					</button>
				</div>
			</div>
			<pagination
				v-if="totalElements > size"
				v-model="page"
				:records="totalElements"
				:perPage="size"
				:options="options"
				@paginate="getSpecialities"
			/>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
import Pagination2 from '@/components/Pagination2'

export default {
	data() {
		return {
			topic: 'Все предметы',
			specialities: [],
			page: 1,
			size: 200,
			sort: 'id',
			order: 'DESC',
			totalElements: 0,
			remove_link: null,
			remove_link_index: null,
			subject: {id: 0, name: "Все предметы"},
			options: {
				template: Pagination2
			}
		}
	},
	computed: {
		queryPage() {
			return this.page - 1;
		},
		removeLink() {
			return this.$store.getters["flags/getRemoveLink"]
		},
		subjects() {
			return this.$store.getters["requests/GET"]('subjects')
		},
	},
	watch: {
		removeLink (nRl, oRl) {
			if (nRl == null && oRl === this.remove_link){
				this.specialities.splice(this.remove_link_index, 1);
				this.remove_link_index = null
			}
		},
		subject (nRl, oRl) {
			this.getSpecialities()
		}
	},
	mounted() {
		this.getSpecialities()
		this.$store.dispatch("requests/getSubjects")
	},
	methods: {
		async getSpecialities() {

			let query = {}

			query.name = ""

			if (this.queryPage){
				query.page = this.queryPage
			}

			if (this.size){
				query.size = this.size
			}

			if (this.sort){
				query.sort = this.sort
			}

			if (this.order){
				query.order = this.order
			}

			if (this.subject.id){
				query.subjectId = this.subject.id
			}

			await this.$axios.get('handbook-service/specialities/get-page', {params: query})
				.then(response => {
					this.specialities = response.data.content
					this.totalElements = response.data.totalElements
					this.scrollToTop()
				})
		},
		async remove(index){
			this.remove_link_index = index;
			this.remove_link = 'handbook-service/specialities/' + this.specialities[index].id;
			this.$store.commit("flags/SET_REMOVE_LINK", 'handbook-service/specialities/' + this.specialities[index].id)
			this.$setTrue('modal.remove')
		},
		scrollToTop() {
			window.scrollTo({
				top: 0,
				left: 0,
				behavior: "smooth"
			});
		}
	},
	components: {
		Edit,
		Trash,
		Pagination2
	}
}
</script>

<style lang="sass" scoped>
.table
	margin-top: 20px
.header-wrp
	display: flex
	align-items: center
	justify-content: space-between
.table-col
	&:nth-child(1)
		width: 10%
		text-align: center
	&:nth-child(2)
		width: 40%
	&:nth-child(3)
		width: 40%
	&:nth-child(4)
		width: 10%
		display: flex
		justify-content: flex-end
.action-btn
	margin-right: 20px
	&:first-child
		margin-right: 10px
.region
	margin-left: auto
	width: 320px
.row
	display: flex
	justify-content: space-between
.btn-wrp
	display: flex
	justify-content: flex-end
	margin-bottom: 20px
</style>
