<template>
	<speciality-form></speciality-form>
</template>

<script>
import specialityForm from "~/components/pages/specialities/form";
export default {
	data() {
		return {}
	},
	mounted() {
		this.$store.dispatch("requests/getUniversities")
	},
	components: {
		specialityForm
	}
}
</script>
