<template>
	<div>
		<div class="section">
			<h3 class="section-heading -bold -mb">Глава</h3>
			<h3 class="section-heading">Название</h3>
			<input type="text" class="input" v-model="chapter.name">
			<div class="btn-wrp">
				<UiButton v-if="chapter.id" class="blue" @click.native="updateItem">Сохранить</UiButton>
				<UiButton v-else class="blue" @click.native="crateItem">Создать</UiButton>
			</div>
		</div>

		<div class="section chapters" v-if="chapter.id">
			<div class="row -mt0 -space-between">
				<h1 class="section-heading -bold">Темы</h1>
				<UiButton @click.native="$router.push(`/lessons/0?chapter_id=${chapter.id}`)" class="blue add-btn">
					<img src="~/assets/icons/add.svg" alt="icon">
					Добавить
				</UiButton>
			</div>
			<div class="table" v-if="lessons.length > 0">
				<div class="table-header">
					<div class="table-col">
						<p class="table-heading">Название</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Уроки</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Действие</p>
					</div>
				</div>
				<client-only>
					<draggable v-model="lessons">
						<div class="table-row" v-for="(item, index) in lessons" :key="index">
							<div class="table-col">
								<img src="~/assets/icons/dots.svg" alt="icon" class="dots">
								<p class="table-text">{{ item.title }}</p>
							</div>
							<div class="table-col">
								<p class="table-text"></p>
							</div>
							<div class="table-col">
								<button class="action-btn" @click="$router.push(`/lessons/${item.id}`)">
									<Edit />
								</button>
								<button class="action-btn" @click="removeLesson(index)">
									<Trash />
								</button>
							</div>
						</div>
					</draggable>
				</client-only>
			</div>
			<div class="btn-wrp">
				<UiButton class="grey">Назад</UiButton>
				<UiButton class="blue">Сохранить</UiButton>
			</div>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
import {required} from "vuelidate/lib/validators";
import {validationMixin} from "vuelidate";
export default {
	components: {
		Edit,
		Trash
	},
	data() {
		return {
			chapter:{
				id: 0,
				name: null,
				courseId: null,
				lessonList: [],
				orderNumber: 0,
			},
			lessons: [],
			url: "course-service/chapters/",
			drag: false,
			remove_link: null,
			remove_link_index: null,
		}
	},
	watch: {
		removeLink (nRl, oRl) {
			if (nRl == null && oRl === this.remove_link){
				this.lessons.splice(this.remove_link_index, 1);
				this.remove_link_index = null
			}
		},
	},
	computed: {
		removeLink() {
			return this.$store.getters["flags/getRemoveLink"]
		},
	},
	mounted() {
		if (this.$route.params.chapter_id != 0) {
			this.findItem();
		}

		if (this.$route.query.course_id) {
			this.chapter.courseId = this.$route.query.course_id;
		}
	},
	methods: {
		async crateItem() {
			this.$v.$touch();

			if (this.$v.chapter.$anyError) {
				setTimeout(() => this.$wait.end('loading'), 1000);
				return;
			}

			let obj = this.chapter;
			delete obj.id;

			await this.$axios
				.post(this.url, this.chapter)
				.then(response => {
					this.$setTrue('toast.success')
					this.$router.push('/courses/' + this.chapter.courseId)
				});
		},
		async updateItem() {
			this.$v.$touch();

			if (this.$v.chapter.$anyError) {
				setTimeout(() => this.$wait.end('loading'), 1000);
				return;
			}

			await this.$axios
				.put(this.url + this.chapter.id, this.chapter)
				.then(response => {
					this.$setTrue('toast.success')
					this.$router.push('/courses/' + this.chapter.courseId)
				});
		},
		async findItem() {
			await this.$axios.get(this.url + this.$route.params.chapter_id)
				.then(response => {
					this.chapter = response.data
					this.lessons = this.chapter.lessonList
				});
		},
		async removeLesson(index) {
			this.remove_link_index = index;
			this.remove_link = 'course-service/lessons/' + this.lessons[index].id;
			this.$store.commit("flags/SET_REMOVE_LINK", this.remove_link)
			this.$setTrue('modal.remove')
		},
	},
	validations: {
		chapter: {
			name: {
				required
			},
			courseId: {
				required
			}
		}
	},
	mixins: [validationMixin],
}
</script>

<style lang="sass" scoped>
.chapters
	margin-top: 30px
.row
	display: flex
	align-items: center
	justify-content: space-between
.table
	margin-top: 30px
.table-text, .table-heading
	font-size: 12px
.table-row, .table-header
	padding-left: 20px
	padding-right: 20px
.table-header
	.table-col:nth-child(1)
		padding-left: 26px
.table-row
	cursor: move
.add-btn
	margin-top: 0
.dots
	margin-right: 20px
.table-col
	&:nth-child(1)
		width: 40%
		display: flex
		align-items: center
	&:nth-child(2)
		width: 50%
	&:nth-child(3)
		width: 10%
		display: flex
		justify-content: center
		button
			margin: 0 5px
.section-heading
	font-weight: 400
	&.-mb
		margin-bottom: 30px
	&.-bold
		font-weight: 600
.input
	width: 100%
.btn-wrp
	margin-top: 20px
	display: flex
	justify-content: flex-end
	.blue
		margin-left: 10px
	button
		width: 160px
</style>
