<template>
	<div class="form">
		<div class="section">
			<div class="name-wrp">
				<div class="col">
					<h3 class="section-heading">Код ВУЗа</h3>
					<input type="text" class="input" v-model="university.code">
				</div>
				<div class="col">
					<h3 class="section-heading">Название ВУЗа</h3>
					<input type="text" class="input" v-model="university.name">
				</div>
			</div>
			<div class="grid">
				<div class="col">
					<h3 class="section-heading">Аббревиатура</h3>
					<input type="text" class="input" v-model="university.abbreviation">
				</div>
				<div class="col">
					<h3 class="section-heading">Регион</h3>
					<AppSelect
						v-model="university.region"
						:options="regions"
					/>
				</div>
				<div class="col">
					<h3 class="section-heading">Тип</h3>
					<AppSelect v-model="university.universityType" :options="universityTypes"/>
				</div>
				<div class="col">
					<h3 class="section-heading">Адрес</h3>
					<input type="text" class="input" v-model="university.address">
				</div>
				<div class="col">
					<h3 class="section-heading">Сайт</h3>
					<input type="text" class="input" v-model="university.webSite">
				</div>
				<div class="col">
					<h3 class="section-heading">Соц. сеть</h3>
					<input type="text" class="input" v-model="university.socialNetwork">
				</div>
				<div class="col">
					<h3 class="section-heading">Тел. номер 1</h3>
					<input type="text" class="input" v-model="university.firstPhone">
				</div>
				<div class="col">
					<h3 class="section-heading">Тел. номер 2</h3>
					<input type="text" class="input" v-model="university.secondPhone">
				</div>
				<div class="col">
					<h3 class="section-heading">Тел. номер 3</h3>
					<input type="text" class="input" v-model="university.thirdPhone">
				</div>
			</div>
			<div class="bot-row">
				<div class="col">
					<Checkbox class="checkbox" v-model="university.teacherQuoata">
						<p class="section-heading">Педагогическая квота</p>
					</Checkbox>
					<Checkbox class="checkbox" v-model="university.serpinQuota">
						<p class="section-heading">Серпін</p>
					</Checkbox>
					<Checkbox class="checkbox" v-model="university.militaryFaculty">
						<p class="section-heading">Военная кафедра</p>
					</Checkbox>
					<Checkbox class="checkbox" v-model="university.dormitory">
						<p class="section-heading">Общежитие</p>
					</Checkbox>
				</div>
				<div class="col">
					<h3 class="section-heading">Логотип</h3>
					<div class="logo-wrp">
						<div class="logo">
							<img
								v-if="university.avatar && university.avatar.url"
								:src="university.avatar.url" alt="image"
							>
							<img
								v-else
								src="@/assets/img/placeholder.svg" alt="image"
							>
						</div>
						<div class="load-wrp">
							<label class="load">
								<input type="file" ref="file" @change="avatarUpload()" hidden>
								<div class="load-btn">
									Загрузить фото
								</div>
								<p
									v-if="university.avatar === null"
									class="file-name">Файл не выбран</p>
							</label>
							<button
								@click="avatarRemove"
								v-if="university.avatar && university.avatar.id"
								class="remove-btn"
							>Удалить фото
							</button>
						</div>
					</div>
				</div>
			</div>

			{{ university.description }}
			<div class="editor-wrp">
				<h3 class="section-heading">Описание</h3>
				<Editor v-model="university.description"/>
			</div>
			<div class="btn-wrp">
				<button
					v-if="university_id"
					@click="updateItem"
					class="button"
					:disabled="$v.$invalid"
				>Обновить
				</button>

				<button
					v-else
					@click="crateItem"
					class="button"
					:disabled="$v.$invalid"
				>Сохранить
				</button>
			</div>
		</div>

	</div>
</template>

<script>
import {validationMixin} from "vuelidate";
import {minLength, required} from "vuelidate/lib/validators";

export default {
	mixins: [validationMixin],
	props: ['university_id'],
	data() {
		return {
			url: '/universities',
			regions: [],
			universityTypes: [],
			university: {
				code: null,
				name: null,
				abbreviation: null,
				region: null,
				universityType: null,
				address: null,
				webSite: null,
				socialNetwork: null,
				firstPhone: null,
				secondPhone: null,
				thirdPhone: null,
				serpinQuota: false,
				teacherQuoata: false,
				militaryFaculty: false,
				dormitory: false,
				description: null,
				avatar: null
			},
		}
	},
	mounted() {
		this.getRegions();
		this.getUniversityTypes();

		if (this.university_id) {
			this.findItem();
		}
	},
	methods: {
		async getUniversityTypes() {
			await this.$axios.get('handbook-service/university-type')
				.then(response => {
					this.universityTypes = response.data
				});
		},
		async getRegions() {
			await this.$axios.get('handbook-service/regions')
				.then(response => {
					this.regions = response.data
				});
		},
		async crateItem() {
			this.$v.$touch();

			if (this.$v.university.$anyError) {
				setTimeout(() => this.$wait.end('loading'), 1000);
				return;
			}

			await this.$axios
				.post("handbook-service/" + this.url, this.university)
				.then(response => {
					this.$setTrue('toast.success')
					this.$router.push({path: this.url})
				});
		},
		async updateItem() {
			this.$v.$touch();

			if (this.$v.university.$anyError) {
				setTimeout(() => this.$wait.end('loading'), 1000);
				return;
			}

			await this.$axios
				.put("handbook-service/" + this.url, this.university)
				.then(response => {
					this.$setTrue('toast.success')
					this.$router.push({path: this.url})
				});
		},
		async findItem() {
			await this.$axios.get("handbook-service/" + this.url + '/' + this.$route.params.university_id)
				.then(response => {
					this.university = response.data
				});
		},
		async avatarUpload() {
			let formData = new FormData();
			formData.append('file', this.$refs.file.files[0]);
			formData.append('fileTypeId', 1);

			await this.$axios.post('handbook-service/resources/upload-file',
				formData,
				{
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}
			).then(response => {
				this.$setTrue('toast.success')
				this.university.avatar = response.data
			}).catch(function () {
				console.log('FAILURE!!');
			});
		},
		avatarRemove() {
			this.university.avatar = null
		},
	},
	validations: {
		university: {
			code: {
				required
			},
			name: {
				required
			},
			abbreviation: {
				required
			},
			region: {
				id: {
					required
				},
				name: {
					required
				}
			},
			universityType: {
				id: {
					required
				},
				name: {
					required
				}
			},
			address: {
				required
			},
			webSite: {
				required
			},
			socialNetwork: {
				required
			},
			firstPhone: {
				required,
				minLength: minLength(10)
			}
		}
	},
}
</script>

<style lang="sass" scoped>
.table-col:nth-child(1),
.table-col:nth-child(4)
	width: 10%
	text-align: center

.table-col:nth-child(2),
.table-col:nth-child(3)
	width: calc(40% - 4px)

.table-col:nth-child(2)
	padding-left: 30px
	margin-left: 4px

.table-col:nth-child(3)
	padding-right: 30px
	margin-right: 4px

.code, .table-input
	width: 10%
	text-align: center

.table-input
	font-size: 15px
	font-weight: 300
	transition: .3s ease

	&:focus
		border-color: var(--c-accent)

.code, .table-input, .table-center
	background: #fff
	padding: 10px 0
	border: 1px solid #E5ECFF
	border-radius: 10px

.table-center
	width: calc(80% - 8px)
	margin: 0 4px
	display: flex
	padding: 10px 30px

	.col
		width: 50%

.table-row
	border: none
	background: transparent

.topic
	width: 320px

.section
	margin-bottom: 30px

.heading-wrp
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 20px

	.section-heading
		font-weight: 600

.btn-wrp
	display: flex
	justify-content: flex-end
	margin-top: 30px

.editor-wrp
	margin-top: 20px

.bot-row
	display: flex

	.col:nth-child(1)
		width: 33.3%

	.col:nth-child(2)
		width: 66.6%
		padding-left: 10px

.load
	display: flex
	align-items: center

.remove-btn,
.load-btn
	margin-right: 20px
	color: #fff
	width: 160px
	height: 36px
	border-radius: 10px
	display: flex
	align-items: center
	justify-content: center
	font-size: 14px

.load-btn
	background: var(--c-accent)

.remove-btn
	background: var(--c-gray)
	margin-top: 10px

.file-name
	font-size: 14px
	font-weight: 400
	color: var(--c-gray)

.logo
	width: 136px
	height: 136px
	border: 1px solid #E5ECFF
	border-radius: 20px
	margin-right: 20px
	display: flex
	align-items: center
	justify-content: center
	background: #fff

	&-wrp
		display: flex
		align-items: center

.checkbox
	margin-bottom: 20px

.name-wrp
	display: flex
	margin-bottom: 50px

	.col:nth-child(1)
		width: 120px
		flex-shrink: 0
		margin-right: 30px

	.col:nth-child(2)
		flex-grow: 1

.grid
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-row-gap: 50px
	grid-column-gap: 30px
	margin-bottom: 50px

.col
	.input
		width: 100%

.section-heading
	font-weight: 400
</style>
