<template>
	<aside class="aside">
		<nuxt-link class="link" to="/users">
			<Users />
			Пользователи
		</nuxt-link>
		<nuxt-link class="link" to="/universities">
			<Univer />
			ВУЗы
		</nuxt-link>
		<nuxt-link class="link" to="/specialities">
			<Prof />
			Специальности
		</nuxt-link>
		<nuxt-link class="link" to="/courses">
			<Courses />
			Курсы
		</nuxt-link>
		<nuxt-link class="link" to="/feed">
			<Feed />
			Лента
		</nuxt-link>
		<nuxt-link class="link" to="/forum">
			<Forum />
			Форум
		</nuxt-link>
		<nuxt-link class="link" to="/promocodes">
			<Promo />
			Промокоды
		</nuxt-link>
		<nuxt-link class="link" to="/marathons">
			<Marathon />
			Марафоны
		</nuxt-link><nuxt-link class="link" to="">
			<Webinar />
			Вебинары
		</nuxt-link>
		<nuxt-link class="link" to="/courses/my">
			<Courses />
			Мои курсы
		</nuxt-link>
		<nuxt-link class="link" to="/marathons/my">
			<Marathon />
			Мои марафоны
		</nuxt-link>
		<nuxt-link class="link" to="">
			<Webinar />
			Мои вебинары
		</nuxt-link>
	</aside>
</template>

<script>
import	Users from '@/assets/icons/users.svg?inline'
import	Univer from '@/assets/icons/univer.svg?inline'
import	Prof from '@/assets/icons/prof.svg?inline'
import	Courses from '@/assets/icons/courses.svg?inline'
import	Feed from '@/assets/icons/feed.svg?inline'
import	Forum from '@/assets/icons/forum.svg?inline'
import	Promo from '@/assets/icons/promo.svg?inline'
import Marathon from '@/assets/icons/marathon.svg?inline'
import Webinar from '@/assets/icons/webinar.svg?inline'
export default {
	components: {
		Marathon,
		Webinar,
		Users,
		Univer,
		Prof,
		Courses,
		Feed,
		Forum,
		Promo
	}
}
</script>

<style lang="sass" scoped>
.link
	display: flex
	align-items: center
	font-size: 18px
	font-weight: 400
	color: #8F90A6
	transition: .3s ease
	&:hover, &.nuxt-link-active
		color: #5B8DEF
		text-decoration: none
		path
			fill: #5B8DEF
	&:not(&:last-child)
		margin-bottom: 30px
	svg
		flex-shrink: 0
		margin-right: 20px
</style>
