<template>
	<footer class="footer">
		<a target="_blank" class="link" href="https://wa.me/+77764002211">
			<Whatsapp />
		</a>
		<a target="_blank" class="link" href="https://www.instagram.com/eduser.kz/">
			<Insta />
		</a>
		<a target="_blank" class="link" href="https://t.me/eduserkz">
			<Telegram />
		</a>
	</footer>
</template>

<script>
import Whatsapp from '@/assets/icons/whatsapp.svg?inline'
import Insta from '@/assets/icons/insta.svg?inline'
import Telegram from '@/assets/icons/telegram.svg?inline'
export default {
	components: {
		Whatsapp,
		Insta,
		Telegram
	}
}
</script>

<style lang="sass" scoped>
.footer
	background: linear-gradient(129.3deg, #004FC4 0%, #5B8DEF 100%)
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12)
	height: 62px
	display: flex
	justify-content: center
	align-items: center
.link
	display: flex
	align-items: center
	justify-content: center
	width: 36px
	height: 36px
	border-radius: 999px
	border: 1px solid #fff
	margin-right: 60px
	transition: .3s ease
	&:hover
		background: #fff
		path
			fill: var(--c-accent)
	&:last-child
		margin-right: 0
		padding-right: 4px
	svg
		max-width: 20px
	path
		transition: .3s ease
</style>
