<template>
	<client-only>
		<v-select class="select"
				  :clearable="false"
				  :searchable="false"
				  :filterable="false"
				  v-model="value"
				  :multiple="multiple"
				  :options="items"
				  label="name"
				  @input="handleInput"
		>
			<template #open-indicator="{ attributes }">
				<Arrow v-bind="attributes"/>
			</template>
		</v-select>
	</client-only>
</template>

<script>
import Arrow from '@/assets/icons/arrow.svg?inline'

export default {
	props: ['hidden', 'multiple', 'options'],
	model: {
		prop: "hidden",
		event: "value",
	},
	components: {
		Arrow
	},
	created() {
		this.value = this.hidden
	},
	computed: {
		items() {
			return this.options ?? [1, 2, 3]
		}
	},
	data() {
		return {
			value: null,
			attributes: {
				'ref': 'openIndicator',
				'role': 'presentation',
				'class': 'vs__open-indicator',
			}
		}
	},
	methods: {
		handleInput(event) {
			this.value = event;
			this.$emit("value", this.value);
		},
	},
	watch: {
		hidden: function(newVal, oldVal) { // watch it
			this.value = newVal
		}
	}
}
</script>
