<template>
	<label class="checkbox">
		<input type="checkbox" hidden v-model="value" @input="handleInput">
		<div class="checkmark">
			<Check />
		</div>
		<slot />
	</label>
</template>

<script>
import Check from '@/assets/icons/check.svg?inline'
export default {
	props: ["val"],
	created() {
		this.value = this.val
	},
	data() {
		return {
			value: null,
		};
	},
	methods: {
		handleInput() {
			this.value = !this.value;
			this.$emit("change", this.value);
		},
	},
	watch: {
		val: function(newVal, oldVal) {
			this.value = newVal
		}
	},
	components: {
		Check
	}
}
</script>

<style lang="sass" scoped>
.checkbox
	display: flex
	align-items: center
	cursor: pointer
	input:checked
		& ~ .checkmark
			background: #52D858
			svg
				opacity: 1
.checkmark
	margin-right: 10px
	width: 24px
	height: 24px
	border-radius: 8px
	display: flex
	align-items: center
	justify-content: center
	transition: .3s ease
	background: #E5ECFF
	svg
		opacity: 0
		transition: .3s ease
</style>
