<template>
	<client-only>
		<quill-editor
			class="editor"
			ref="editor"
			v-model="content"
			:options="editorOption"
			@keydown="handleInput"
		/>
	</client-only>
</template>

<script>
export default {
	props: ["hidden"],
	created() {
		this.content = this.hidden
	},
	model: {
		prop: "hidden",
		event: "value",
	},
	data() {
		return {
			content: null,
			editorOption: {
				theme: 'snow',
				placeholder: 'Введите текст...',
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						['blockquote', 'code-block', 'image'],
						[{ 'list': 'ordered'}, { 'list': 'bullet' }],
						[{ 'indent': '-1'}, { 'indent': '+1' }],
						[{ 'direction': 'rtl' }],
						[{ 'color': [] }, { 'background': [] }],
						[{ 'align': [] }],
						['clean']
					]
				}
			}
		}
	},
	methods: {
		handleInput() {
			this.$emit("value", this.content);
		},
	},
	watch: {
		hidden: function(newVal, oldVal) { // watch it
			this.content = newVal
		}
	}
}
</script>

<style lang="sass" scoped>
.editor::v-deep
	background: #fff
	border: 1px solid #E5ECFF
	border-radius: 10px
	min-height: 120px
	.ql-container
		border-top: 1px solid #E5ECFF !important
	.ql-snow
		border: none
</style>
