<template>
	<transition name="fade">
		<div class="app-toast" v-if="$check('toast.error')">
			<div class="header">
				<p>Ошибка!</p>
				<img @click="$setFalse('toast.error')" src="@/assets/icons/close.svg" alt="icon" class="icon">
			</div>
			<p class="text">Что то пошло не так!</p>
		</div>
	</transition>
</template>

<script>
export default {
	data() {
		return {}
	},
	computed: {
		toastError() {
			return this.$check('toast.error');
		}
	},
	watch: {
		toastError: function (newVal, oldVal) {
			if (newVal) {
				setTimeout(() => {
					this.$setFalse('toast.error');
				}, 1000)

			}
		}
	}
}
</script>

<style lang="sass" scoped>
.app-toast
	position: fixed
	right: 30px
	top: 30px
	z-index: 100
	background: rgba(#FF6565, 0.12)
	border-radius: 10px
	overflow: hidden
	width: 280px
.header
	background: #FF6565
	display: flex
	align-items: center
	justify-content: space-between
	padding: 10px 30px
	p
		color: #fff
		font-size: 15px
		font-weight: 500
.text
	padding: 24px 0
	text-align: center
	font-size: 15px
	font-weight: 400
</style>
