<template>
	<label class="checkbox">
		<input type="text" class="input" v-model="value" @input="handleInput" :disabled="disabled">
		<slot />
	</label>
</template>

<script>
import Check from '@/assets/icons/check.svg?inline'
export default {
	props: ["val", "disabled"],
	created() {
		this.value = this.val
	},
	data() {
		return {
			value: null,
		};
	},
	methods: {
		handleInput() {
			this.$emit("change", this.value);
		},
	},
	watch: {
		val: function(newVal, oldVal) {
			this.value = newVal
		}
	},
	components: {
		Check
	}
}
</script>

<!--<style lang="sass" scoped>-->

<!--</style>-->
