<template>
	<div class="filter">
		<h1 class="section-heading" v-if="heading">{{ heading }}</h1>
		<div class="row search-wrp">
			<div class="col">
				<Search/>
			</div>
			<div class="col">
				<AppSelect :value="topic"/>
			</div>
			<div class="col">
				<AppSelect :value="classRoom"/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<AppSelect :value="region"/>
			</div>
			<div class="col">
				<AppSelect :value="city"/>
			</div>
			<div class="col">
				<AppSelect :value="school"/>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "ListFilter",
	props: {
		heading: String
	},
	data() {
		return {
			region: 'Все регионы',
			classRoom: 'Класс',
			topic: 'Все предметы',
			city: 'Город/Район',
			school: 'Школа',
		}
	}
}
</script>

<style lang="sass" scoped>
.section-heading
	margin-bottom: 30px
.row
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-gap: 40px
	margin-bottom: 10px
	&.search-wrp
		grid-template-columns: 2fr 1.2fr .8fr
</style>
