<template>
	<div class='VuePagination' :class='props.theme.wrapper'>
		<nav :class='props.theme.nav'>

			<ul v-show="props.showPagination"  :class="props.theme.list">
        <li :class="props.theme.prev" @click="props.setPrevPage">
					<a v-bind="{...props.aProps,...props.prevProps}"><Arrow/></a>
				</li>

				<li v-for="page in props.pages" :key="page" :class="props.pageClasses(page)"
					v-on="props.pageEvents(page)">
					<a v-bind="props.aProps" :class="props.theme.link">{{page}}</a>
				</li>

				<li :class="props.theme.next" @click="props.setNextPage">
					<a v-bind="{...props.aProps, ...props.nextProps}"><Arrow/></a>
				</li>
			</ul>
		</nav>
	</div>

</template>

<script>
import Arrow from '@/assets/icons/arrow.svg?inline'

export default {
	name: 'MyPagination',
	props: ['props'],
  components: {
    Arrow
  }
}
</script>

<style lang="sass" scoped>
.pagination
  display: flex
  justify-content: center
  margin-top: 20px
  background-color: #fff

  .page-item
    &:first-child, &:last-child
      svg
        transform: rotate(90deg)

    &:last-child
      svg
        transform: rotate(-90deg)


    .page-link, &.active .page-link
      background-color: unset
      color: var(--c-accent)
      border-color: var(--c-accent)
      font-weight: 500
      path
        stroke: var(--c-accent)
    .page-link
      width: 36px
      height: 36px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 10px
      background: #fff
      margin: 0 2px
      border: 1px solid #fff
      transition: .3s ease
      color: #88969D
      font-size: 12px
      font-weight: 300
      cursor: pointer
      @media (min-width: 760px)
        font-size: 15px
      path
        transition: .3s ease
</style>

