<template>
	<div class="pagination">
		<nuxt-link class="prev" to>
			<Arrow />
		</nuxt-link>
		<nuxt-link class="page -active" to>01</nuxt-link>
		<nuxt-link class="page" to>02</nuxt-link>
		<nuxt-link class="page" to>03</nuxt-link>
		<nuxt-link class="next" to>
			<Arrow />
		</nuxt-link>
	</div>
</template>

<script>
import Arrow from '@/assets/icons/arrow.svg?inline'
export default {
	components: {
		Arrow
	}
}
</script>

<style lang="sass" scoped>
.next
	svg
		transform: rotate(-90deg)
.prev
	svg
		transform: rotate(90deg)
.pagination
	display: flex
	justify-content: center
	margin-top: 20px
	a
		width: 36px
		height: 36px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 10px
		background: #fff
		margin: 0 2px
		border: 1px solid #fff
		transition: .3s ease
		color: #88969D
		font-size: 12px
		font-weight: 300
		@media (min-width: 760px)
			font-size: 15px
		path
			transition: .3s ease
		&:hover, &.-active
			color: var(--c-accent)
			border-color: var(--c-accent)
			font-weight: 500
			path
				stroke: var(--c-accent)
.page
	font-size: 15px
	font-weight: 500
</style>
