<template>
	<transition name="fade">
		<div class="modal">
			<div class="overlay" @click="closeModal"></div>
			<div class="inner">
				<h3 class="heading -mb">{{ university.code }} - {{ university.name }}</h3>
				<div class="block">
					<p class="text">Пороговый балл</p>
					<inputV
						:val="speciality_university.thresholdScore"
						@change="update_speciality_university_threshold_score($event)"
					>
					</inputV>
				</div>

				<div class="block" v-for="(quota, ind) in quotas">
					<CheckboxV
						class="checkbox"
						:val="speciality_university[quota.key].status"
						@change="toggleQuota(quota.key)"
					>
						<p class="text">{{ quota.val }}</p>
					</CheckboxV>

					<div class="modal-grid">
						<div
							class="input-wrp"
							v-for="(dqp, index) in speciality_university[quota.key].quotaProbabilities"
							:key="quota.key + '-' + index"
						>
							<p class="value">{{ dqp.probability }}%</p>
							<inputV
								:val=" dqp.score"
								@change="updateQuota($event, quota.key, index)"
								:disabled="!speciality_university[quota.key].status"
							>
							</inputV>
						</div>
					</div>

					<div class="btn-wrp">
						<UiButton class="grey" @click="closeModal">Отмена</UiButton>
						<UiButton class="blue" @click="update">Сохранить</UiButton>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
export default {
	data() {
		return {
			sp: null
		}
	},
	computed: {
		quotaModalIndex() {
			return this.$store.getters["requests/GET"]('quotaModalIndex')
		},
		speciality_universities() {
			return this.$store.getters["requests/GET"]('speciality_universities')
		},
		university() {
			return this.$store.getters["requests/GET"]('universities')[this.quotaModalIndex]
		},
		quotas() {
			return this.$store.getters["requests/GET"]('quotas')
		},
		speciality_university() {
			return this.speciality_universities[this.quotaModalIndex]
		}
	},
	methods: {
		update() {
			this.$store.dispatch('requests/saveSpecialityUniversities').then(() => {
				this.$setTrue('toast.success')
				this.closeModal()
			})
		},
		closeModal(val = null) {
			this.$store.commit('requests/SET', {name: 'quotaModalIndex', data: null})
		},
		toggleQuota(quota) {
			this.$store.commit('requests/TOGGLE_SPECIALITY_UNIVERSITY_QUOTA', {
				index: this.quotaModalIndex,
				field: quota
			})
		},
		updateQuota(v, quota, index) {
			this.$store.commit('requests/UPDATE_SPECIALITY_UNIVERSITY_QUOTA_PROBABILITIES', {
				speciality_university_index: this.quotaModalIndex,
				quota: quota,
				index: index,
				data: v
			})
		},
		update_speciality_university_threshold_score(v) {
			this.$store.commit('requests/UPDATE_SPECIALITY_UNIVERSITY_THRESHOLD_SCORE', {
				index: this.quotaModalIndex,
				data: v
			})
		}
	}
}
</script>

<style lang="sass">
.modal
	position: fixed
	z-index: 1000
	top: 0
	left: 0
	right: 0
	bottom: 0

.block
	margin-top: 30px

.overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(#000, 0.5)

.heading
	font-size: 20px
	font-weight: 500
	color: var(--c-accent)

.text
	font-size: 18px
	font-weight: 400
	color: var(--c-base)

.btn-wrp
	display: grid
	grid-gap: 10px
	grid-template-columns: 140px 140px
	justify-content: space-between
	margin-top: 30px

	button
		height: 36px
		border-radius: 10px
		color: #fff
		font-size: 15px
		font-weight: 400

		&.cancel
			background: #88969D

		&.save
			background: #668DFF

.grey
	margin-left: 0

.modal-grid
	display: grid
	grid-template-columns: repeat(7, 1fr)
	grid-gap: 10px

	&.-disabled
		.value
			color: #E5ECFF

.value
	font-size: 16px
	font-weight: 400
	color: var(--c-base)

.input
	width: 100%
	text-align: center

	&:disabled
		background: #E5ECFF

		&:hover
			border-color: #E5ECFF

	&.-short
		width: 120px

.inner
	position: relative
	z-index: 1
	background: #fff
	box-shadow: 0px 0px 2px rgba(102, 141, 255, 0.5)
	border-radius: 10px
	padding: 60px
	max-width: 800px
	overflow-y: auto
	max-height: 95vh
	@media (min-width: 1280px)
		&::-webkit-scrollbar-track
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
			background-color: #F5F5F5
		&::-webkit-scrollbar
			width: 6px
			background-color: #F5F5F5
		&::-webkit-scrollbar-thumb
			background-color: var(--c-accent)
	@media (min-width: 1600px)
		padding: 80px
</style>
