<template>
	<transition name="fade">
		<div class="modal" v-if="$check('modal.remove')">
			<div class="overlay" @click="$setFalse('modal.remove')"></div>
			<div class="inner">
				<img src="@/assets/icons/question-icon.svg" alt="icon">
				<h1 class="title">Вы точно хотите удалить?</h1>
				<div class="btn-wrp">
					<UiButton class="grey" @click.native="remove">Удалить</UiButton>
					<UiButton class="orange" @click.native="$setFalse('modal.remove')">Отмена</UiButton>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
export default {
	data() {
		return {}
	},
	computed: {
		removeLink() {
			return this.$store.getters["flags/getRemoveLink"]
		}
	},
	methods: {
		async remove() {
			this.$setFalse('modal.remove')
			if (this.removeLink){
				await this.$axios.delete(this.removeLink)
					.then(response => {
						this.$setTrue('toast.success')
						this.$store.commit("flags/SET_REMOVE_LINK", null)
					})
			}
		}
	}
}
</script>

<style lang="sass" scoped>
.modal
	position: fixed
	z-index: 1000
	top: 0
	left: 0
	right: 0
	bottom: 0

.overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(#000, 0.5)

.inner
	position: relative
	z-index: 1
	width: 340px
	height: 200px
	background: linear-gradient(129.3deg, #004FC4 0%, #5B8DEF 100%)
	border: 1px solid #FFFFFF
	box-shadow: 0px 10px 20px rgba(102, 141, 255, 0.5)
	border-radius: 10px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding: 35px 40px

.title
	color: #fff
	font-size: 16px
	font-weight: 500
	margin: 20px 0

.btn-wrp
	display: grid
	grid-template-columns: 90px 90px
	grid-gap: 10px

	button
		padding: 0
		border: 1px solid transparent

	.remove-btn
		border-color: #fff
		background: transparent
		color: #fff

	.cancel-btn
		color: #4071FF
		border-color: #FFDD28
		background: #FFDD28
		margin-top: 0
		width: 100%
</style>
