<template>
	<div class="search">
		<input class="input" type="text" placeholder="Поиск...">
		<button>
			<img src="@/assets/icons/search.svg" alt="icon">
		</button>
	</div>
</template>

<style lang="sass" scoped>
.input
	width: 100%
.search
	position: relative
	button
		padding: 0
		background: transparent
		position: absolute
		z-index: 1
		right: 20px
		top: 50%
		transform: translateY(-50%)
</style>
