<template>
	<transition name="fade">
		<div class="app-toast" v-if="$check('toast.success')">
			<div class="header">
				<p>Сохранено!</p>
				<img src="@/assets/icons/check.svg" alt="icon" class="icon">
			</div>
			<p class="text">Всё успешно сохранено!</p>
		</div>
	</transition>
</template>

<script>
export default {
	data() {
		return {}
	},
	computed: {
		toastSuccess() {
			return this.$check('toast.success');
		}
	},
	watch: {
		toastSuccess: function (newVal, oldVal) {
			if (newVal) {
				setTimeout(() => {
					this.$setFalse('toast.success');
				}, 1000)

			}
		}
	}
}
</script>

<style lang="sass" scoped>
.app-toast
	position: fixed
	right: 30px
	top: 30px
	z-index: 100
	background: rgba(#52D858, 0.12)
	border-radius: 10px
	overflow: hidden
	width: 280px

.header
	background: #52D858
	display: flex
	align-items: center
	justify-content: space-between
	padding: 10px 30px

	p
		color: #fff
		font-size: 15px
		font-weight: 500

.text
	padding: 24px 0
	text-align: center
	font-size: 15px
	font-weight: 400
</style>
