<template>
	<div class="item">
		<div class="left">
			<div class="letter">A</div>
			<label class="label-cbx">
				<input type="checkbox" hidden>
				<div class="checkbox">
					<svg width="20px" height="20px" viewBox="0 0 20 20">
					<path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
					<polyline points="4 11 8 15 16 6"></polyline>
					</svg>
				</div>
				<span>Правильный ответ</span>
			</label>
		</div>
		<div class="right">
			<Editor class="editor" />
		</div>
	</div>
</template>

<style lang="sass" scoped>
.editor
	min-height: 120px
.item
	margin-top: 30px
	max-width: 870px
	display: flex
	align-items: flex-start
.left
	max-width: 73px
	width: 100%
	margin-right: 20px
	flex-shrink: 0
.right
	flex-grow: 1
.letter
	width: 40px
	height: 40px
	border-radius: 99px
	background: #FFFFFF
	box-shadow: 0px 0px 1px #5096F1
	display: flex
	align-items: center
	justify-content: center
	font-size: 16px
	font-weight: 400
	margin: 0 auto
.label-cbx
	flex-direction: column
	align-items: center
	span
		font-size: 12px
		max-width: 73px
		text-align: center
		line-height: 1
.checkbox
	margin-left: 0
	margin-bottom: 3px
</style>
