<template>
	<button class="btn">
		<slot></slot>
	</button>
</template>

<script>
export default {
	name: "UiButton"
}
</script>

<style lang="sass" scoped>
.btn
	height: 36px
	border-radius: 10px
	color: #fff
	font-size: 15px
	font-weight: 400
	margin-left: auto
	display: flex
	align-items: center
	justify-content: center
	padding: 0 30px
	margin-top: 30px
	img
		margin-right: 10px
	&.orange
		background: linear-gradient(129.3deg, #E57A00 0%, #FDAC42 100%)
	&.blue
		background: linear-gradient(129.3deg, #004FC4 0%, #5B8DEF 100%)
	&.red
		background: linear-gradient(129.3deg, #E53535 0%, #FF7474 100%)
	&.grey
		background: #8F90A6
</style>
