<template>
	<label class="switch" :class="{'-checked' : value}">
		<input type="checkbox" v-model="value" hidden @input="handleInput">
		<span class="dot"></span>
	</label>
</template>

<script>
export default {
	name: "UiSwitch",
	data() {
		return {
			value: false
		}
	},
	props: ["val"],
	created() {
		this.value = this.val
	},
	methods: {
		handleInput() {
			this.value = !this.value;
			this.$emit("change", this.value);
		},
	},
	watch: {
		val: function(newVal, oldVal) {
			this.value = newVal
		}
	},
}
</script>

<style lang="scss" scoped>
.switch {
	width: 48px;
	height: 26px;
	border-radius: 50px;
	position: relative;
	background: rgba(#555770, 0.25);
	transition: .2s ease;
	cursor: pointer;
	&.small {
		width: 30px;
		height: 16px;
		.dot {
			width: 18px;
			height: 18px;
		}
		input {
			&:checked {
				& ~ .dot {
					transform: translate(15px, -50%);
				}
			}
		}
	}
	&.-checked {
		background: #39D98A;
		.dot {
			background: #05A660;
		}
	}
	input {
		&:checked {
			& ~ .dot {
				transform: translate(20px, -50%);
			}
		}
	}
}
.dot {
	width: 30px;
	height: 30px;
	border-radius: 50px;
	background: #555770;
	position: absolute;
	left: -2px;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 1;
	transition: .2s ease;
}
</style>
