.section
	background: rgba(#fff, 0.86)
	border-radius: 10px
	box-shadow: 0px 0px 2px rgba(102, 141, 255, 0.5)
	padding: 30px 40px
	@media (min-width: 1600px)
		padding: 50px 60px
	&-heading
		font-size: 18px
		font-weight: 600
.action-btn
	padding: 0
	width: 26px
	height: 26px
	display: flex
	align-items: center
	justify-content: center
	border-radius: 5px
	background: #E5ECFF
.button
	background: var(--c-accent)
	height: 36px
	padding: 0 30px
	font-size: 15px
	font-weight: 400
	color: #fff
	display: flex
	align-items: center
	justify-content: center
	border-radius: 10px
	&:disabled
		background: var(--c-gray)
	svg, img
		margin-right: 10px
.input
	background: #fff
	border-radius: 10px
	border: 1px solid #E5ECFF
	padding: 0 20px
	height: 40px
	font-size: 15px
	font-weight: 300
	transition: .3s ease
	&:disabled
		background-color: #F2F2F5
		&:hover
			border-color: #F2F2F5
	&:hover, &:focus
		border-color: var(--c-accent)
.table
	&-heading
		font-size: 15px
		font-weight: 500
	&-text
		font-size: 15px
		font-weight: 300
	&-row, &-header
		display: flex
	&-header
		align-items: center
	&-row
		cursor: pointer
		border-radius: 10px
		margin-top: 2px
		align-items: center
		padding: 10px 0
		background: #fff
		border: 1px solid #E5ECFF
		transition: .3s ease
		&:hover
			border-color: var(--c-accent)
.select
	background: #fff
	font-size: 15px
	font-weight: 300
	border-radius: 10px
	&.vs--multiple
		.vs__deselect
			margin-left: 10px
		.vs__selected
			border-radius: 10px
			background: #E5ECFF
			border: none
			padding: 0 20px
			height: 32px
			font-size: 14px
			font-weight: 400
			margin-right: 10px
			margin-top: 3px
	.vs__actions
		padding-right: 20px
	.vs__selected
		position: static !important
		padding: 0
		margin-left: 0
		margin-right: 0
		&-options
			padding: 0 18px
	//.vs__search
	//	width: 1px
	//	height: 1px
	//	opacity: 0
	.vs__open-indicator
		fill: #fff
	.vs__dropdown-option
		border: 1px solid #fff
		border-radius: 5px
		padding: 5px 20px 3px
		&--highlight
			background: #fff
			border-color: #E5ECFF
			color: var(--c-accent)
	.vs__dropdown-menu
		box-shadow: none
		border-radius: 0 0 10px 10px
		border-color: #E5ECFF
	.vs__dropdown-toggle
		border-radius: 10px
		border: 1px solid #E5ECFF
		height: 40px
.modal
	position: fixed
	z-index: 1050
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: flex
	align-items: center
	justify-content: center
	&-overlay
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(#000, 0.5)
	&-inner
		position: relative
		z-index: 1
		background: linear-gradient(129.3deg, #004FC4 0%, #5B8DEF 100%)
		border: 1px solid #FFFFFF
		box-shadow: 0px 10px 20px rgba(102, 141, 255, 0.5)
		border-radius: 20px
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		padding-top: 50px
		padding-bottom: 60px
		color: #fff
		max-width: 90%
		transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55)
		transform: translateY(-300%)
		&.-open
			transform: translateY(0)
		@media (min-width: 760px)
			max-width: 530px
	&-close
		padding: 0
		background: transparent
		position: absolute
		z-index: 1
		right: 20px
		top: 20px
.label-cbx
	user-select: none
	cursor: pointer
	margin-bottom: 0
	display: flex
	align-items: center
	margin-top: 16px
	input:checked
		& + .checkbox
			border-color: #52D858
			path
				fill: #52D858
			polyline
				stroke-dashoffset: 0
	&:hover
		.checkbox
			path
				stroke-dashoffset: 0
	.checkbox
		position: relative
		float: left
		margin-left: 10px
		width: 20px
		height: 20px
		border: 2px solid #0E3449
		border-radius: 3px
		svg
			position: absolute
			top: -2px
			left: -2px
			path
				fill: none
				stroke: #52D858
				stroke-width: 2
				stroke-linecap: round
				stroke-linejoin: round
				stroke-dasharray: 71px
				stroke-dashoffset: 71px
				transition: all .6s ease
			polyline
				fill: none
				stroke: #FFF
				stroke-width: 2
				stroke-linecap: round
				stroke-linejoin: round
				stroke-dasharray: 18px
				stroke-dashoffset: 18px
				transition: all .3s ease

	> span
		font-size: 15px
		font-weight: 400
.row, .col
	margin: 0
	padding: 0

.errors
	margin: 15px 0
	li
		color: red
