<template>
	<university-form :university_id="this.$route.params.university_id"></university-form>
</template>

<script>
import universityForm from "~/components/pages/univercities/form";
export default {
	data() {
		return {}
	},
	mounted() {
		console.log(this.$route.params.university_id)
	},
	components: {
		universityForm
	}
}
</script>
