<template>
	<div class="section">
		<div class="btn-wrp">
			<UiButton @click.native="$router.push('/universities/new')" class="blue">
				<img src="@/assets/icons/add.svg" alt="icon">
				Добавить
			</UiButton>
		</div>
		<h1 class="section-heading">ВУЗы Казахстана</h1>
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<h2 class="table-heading">Код</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">ВУЗ</h2>
				</div>
				<AppSelect class="region" v-model="region" :options="regions"/>
			</div>
			<div class="table-row" v-for="(university, index) in universities" :key="index">
				<div class="table-col">
					<p class="table-text">{{ university.code }}</p>
				</div>
				<div class="table-col">
					<p class="table-text">{{ university.name }}</p>
				</div>
				<div class="table-col">
					<p class="table-text">{{ university.region.name }}</p>
				</div>

				<div class="table-col">
					<button class="action-btn" @click="$router.push({path: '/universities/' + university.id})">
						<Edit/>
					</button>
					<button class="action-btn" @click="remove(index)">
						<Trash/>
					</button>
				</div>
			</div>

			<pagination
				v-if="totalElements > size"
				v-model="page"
				:records="totalElements"
				:perPage="size"
				:options="options"
				@paginate="getUniversities"
			/>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
import Pagination2 from "~/components/Pagination2";

export default {
	data() {
		return {
			region: {id: 0, name: 'Все регионы'},
			regions: [],
			universities: null,
			totalElements: 0,
			errors: null,
			page: 1,
			size: 100,
			sort: "id",
			order: "DESC",
			options: {
				template: Pagination2
			}
		}
	},
	components: {
		Edit,
		Trash,
		Pagination2
	},

	computed: {
		queryPage() {
			return this.page - 1;
		}
	},
	watch: {
		region(nRl, oRl) {
			this.getUniversities()
		}
	},
	mounted() {
		this.getUniversities()
		this.getRegions()
	},
	methods: {
		async getUniversities() {

			let query = {}

			if (this.queryPage) {
				query.page = this.queryPage
			}

			if (this.size) {
				query.size = this.size
			}

			if (this.sort) {
				query.sort = this.sort
			}

			if (this.order) {
				query.order = this.order
			}

			if (this.region.id) {
				query.regionId = this.region.id
			}

			await this.$axios.get('handbook-service/universities/find-page', {params: query})
				.then(response => {
					this.universities = response.data.content
					this.totalElements = response.data.totalElements
					this.scrollToTop()
				})
		},
		async getRegions() {
			await this.$axios.get('handbook-service/regions')
				.then(response => {
					this.regions = response.data
					this.regions.unshift({id: 0, name: 'Все регионы'})
				});
		},
		async remove(index) {
			this.remove_link_index = index;
			this.remove_link = 'handbook-service/universities/' + this.universities[index].id;
			this.$store.commit("flags/SET_REMOVE_LINK", 'handbook-service/universities/' + this.universities[index].id)
			this.$setTrue('modal.remove')
		},
		scrollToTop() {
			window.scrollTo({
				top: 0,
				left: 0,
				behavior: "smooth"
			});
		},
	}
}
</script>

<style lang="sass" scoped>
.table
	margin-top: 13px

.table-header
	align-items: center

	.table-col
		&:nth-of-type(1)
			width: 10%
			text-align: center

		&:nth-of-type(2)
			width: 60%

.table-col
	&:nth-child(1)
		width: 10%
		text-align: center

	&:nth-child(2)
		width: 60%
		padding-right: 10px

	&:nth-child(3)
		width: 20%

	&:nth-child(4)
		width: 10%
		display: flex
		justify-content: flex-end

.action-btn
	margin-right: 20px

	&:first-child
		margin-right: 10px

.region
	margin-left: auto
	width: 320px

.row
	display: flex
	justify-content: space-between

.btn-wrp
	display: flex
	justify-content: flex-end
	margin-bottom: 20px
	button
		margin-top: 0
</style>
