<template>
	<university-form></university-form>
</template>

<script>
import universityForm from "~/components/pages/univercities/form";
export default {
	data() {
		return {}
	},
	components: {
		universityForm
	}
}
</script>
