<template>
	<div class="section">
		<div class="btn-wrp">
			<h1 class="section-heading">Промокоды</h1>
			<UiButton @click.native="$router.push('/promocodes/new')" class="blue">
				<img src="@/assets/icons/add.svg" alt="icon">
				Добавить
			</UiButton>
		</div>
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<h2 class="table-heading">Продукт</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Купоны</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Использовано</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Дата</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Действие</h2>
				</div>
			</div>
			<div class="table-row" v-for="item, index in 7" :key="index">
				<div class="table-col">
					<p class="table-text">Кинематика негізгі түсініктері мен теңдеулері</p>
				</div>
				<div class="table-col">
					<p class="table-text">500</p>
				</div>
				<div class="table-col">
					<p class="table-text">326</p>
				</div>
				<div class="table-col">
					<p class="table-text">10.02.2022</p>
				</div>
				<div class="table-col">
					<button class="action-btn">
						<Edit />
					</button>
					<button class="action-btn" @click="$setTrue('modal.remove')">
						<Trash />
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
export default {
	components: {
		Edit,
		Trash
	}
}
</script>

<style lang="sass" scoped>
.table
	margin-top: 13px
.table-header
	align-items: center
.table-col
	&:nth-child(1)
		width: 45%
		padding-left: 20px
	&:nth-child(2)
		width: 15%
	&:nth-child(3)
		width: 15%
	&:nth-child(4)
		width: 15%
	&:nth-child(5)
		width: 10%
		display: flex
		justify-content: center
.action-btn
	&:first-child
		margin-right: 10px
.btn-wrp
	display: flex
	justify-content: space-between
	margin-bottom: 20px
	button
		width: 160px
		margin-top: 0
</style>
