<template>
	<div>
		<div class="section">
			<h1 class="section-heading">Промокоды</h1>
			<div class="type">
				<h3 class="section-heading -reg">Тип</h3>
				<AppSelect :value="type" />
			</div>
			<div class="row">
				<div class="col">
					<h3 class="section-heading -reg">Курс (Продукт)</h3>
					<AppSelect :value="course" />
				</div>
				<div class="col">
					<h3 class="section-heading -reg">Количество</h3>
					<input type="text" class="input">
				</div>
			</div>
			<div class="btn-wrp">
				<UiButton class="blue">Генерировать и Экспорт Excel</UiButton>
			</div>
		</div>
		<div class="section table-wrp">
			<h1 class="section-heading">Промокоды</h1>
			<div class="row -grid-3">
				<div class="col">
					<Search class="search" />
				</div>
				<div class="col">
					<AppSelect class="regions" :value="regions" />
				</div>
				<div class="col">
					<AppSelect class="filter" :value="filter" />
				</div>
			</div>
			<div class="table">
				<div class="table-header">
					<div class="table-col">
						<h4 class="table-heading">Промокоды</h4>
					</div>
					<div class="table-col">
						<h4 class="table-heading">№</h4>
					</div>
					<div class="table-col">
						<h4 class="table-heading">Пользователь</h4>
					</div>
					<div class="table-col">
						<h4 class="table-heading">Область/Город</h4>
					</div>
					<div class="table-col">
						<h4 class="table-heading">Город/Район</h4>
					</div>
					<div class="table-col">
						<h4 class="table-heading">Школа</h4>
					</div>
					<div class="table-col">
						<h4 class="table-heading">Дата</h4>
					</div>
				</div>
				<div class="table-row">
					<div class="table-col">
						<p class="promocode -blue">HTYRFG12</p>
					</div>
					<div class="table-col">
						<p class="table-text">001</p>
					</div>
					<div class="table-col">
						<p class="table-text">--</p>
					</div>
					<div class="table-col">
						<p class="table-text">--</p>
					</div>
					<div class="table-col">
						<p class="table-text">--</p>
					</div>
					<div class="table-col">
						<p class="table-text">--</p>
					</div>
					<div class="table-col">
						<p class="table-text">--</p>
					</div>
				</div>
				<div class="table-row">
					<div class="table-col">
						<p class="promocode">HTYRFG12</p>
					</div>
					<div class="table-col">
						<p class="table-text">002</p>
					</div>
					<div class="table-col">
						<img src="@/assets/img/avatar.png" alt="image" width="24" class="avatar">
						<p class="table-text">Нұрсұлтан Назарбаев</p>
					</div>
					<div class="table-col">
						<p class="table-text">Туркестанская обл.</p>
					</div>
					<div class="table-col">
						<p class="table-text">Махтааралский р-н</p>
					</div>
					<div class="table-col">
						<p class="table-text">КГУ "Средняя школа имени Жумабека Ташенова"</p>
					</div>
					<div class="table-col">
						<p class="table-text">10.10.2022/16:36</p>
					</div>
				</div>
			</div>
			<div class="btn-wrp">
				<UiButton class="grey">Назад</UiButton>
				<UiButton class="blue">Экспорт Excel</UiButton>
			</div>
		</div>
		<div class="section history">
			<h3 class="section-heading">История</h3>
			<div class="table-header">
				<div class="table-col">
					<p class="table-heading">№</p>
				</div>
				<div class="table-col">
					<p class="table-heading">История</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Авторы курсов</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Количество</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Дата</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Тип</p>
				</div>
			</div>
			<div class="table-row" v-for="(item, index) in 8" :key="index">
				<div class="table-col">
					<p class="table-text">001</p>
				</div>
				<div class="table-col">
					<p class="table-text">Кинематика негізгі түсініктері мен теңдеулері</p>
				</div>
				<div class="table-col">
					<p class="table-text">Нұрсұлтан Назарбаев</p>
				</div>
				<div class="table-col">
					<p class="table-text">250</p>
				</div>
				<div class="table-col">
					<p class="table-text">10.10.2022</p>
				</div>
				<div class="table-col">
					<p class="table-text">Курсы</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			course: '--',
			regions: 'Все регионы',
			filter: 'Фильтр',
			type: '--'
		}
	}
}
</script>

<style lang="sass" scoped>
.type
	margin-top: 30px
.table-text, .table-heading
	font-size: 12px
.avatar
	width: 24px
	height: 24px
	flex-shrink: 0
	margin-right: 5px
	border-radius: 99px
	object-fit: cover
.promocode
	font-size: 12px
	font-weight: 400
	&.-blue
		color: var(--c-accent)
.inner
	display: grid
	grid-gap: 2px
	grid-template-columns: 160px 1fr
.promo-item
	background: #fff
	border-radius: 10px
	border: 1px solid #E5ECFF
	margin-top: 2px
	padding: 10px 0
.table-wrp
	margin-top: 30px
	.table-col
		&:nth-child(1)
			width: 8%
			text-align: center
		&:nth-child(2)
			width: 6%
			text-align: center
		&:nth-child(3)
			width: 20%
			display: flex
			align-items: center
		&:nth-child(4)
			width: 17%
		&:nth-child(5)
			width: 18%
		&:nth-child(6)
			width: 20%
		&:nth-child(7)
			width: 11%
.history
	margin-top: 30px
	.section-heading
		margin-bottom: 30px
	.table-col
		&:nth-child(1)
			width: 5%
			text-align: center
		&:nth-child(2)
			width: 40%
		&:nth-child(3)
			width: 25%
		&:nth-child(4)
			width: 10%
		&:nth-child(5),
		&:nth-child(6)
			width: 10%
.row
	display: grid
	margin: 30px 0
	grid-gap: 30px
	grid-template-columns: 1fr 264px
	&.-grid-3
		grid-template-columns: 1fr 320px 183px
.input
	width: 100%
.section-heading
	&.-reg
		font-weight: 400
.btn-wrp
	display: flex
	justify-content: flex-end
	margin-top: 30px
	.blue
		margin-left: 10px
	button
		margin-top: 0
		min-width: 160px
</style>
