<template>
	<div class="layout">
		<RemoveModal />
		<SuccessToast />
		<ErrorToast />
		<div class="layout-content">
			<div class="app-row">
				<AppAside class="aside" />
				<div class="content">
					<UiButton class="blue logout" @click="userLogout">
						<img src="@/assets/icons/logout.svg" alt="icon">
						Выйти
					</UiButton>
					<Nuxt />
				</div>
			</div>
		</div>
		<AppFooter />
	</div>
</template>

<script>
export default {
	methods: {
		async userLogout() {
			try {
				await this.$auth.logout().then(() => {
					console.log('logged out')
					this.$router.push({path: '/'})
				})
			} catch (err) {
				console.log(err)
			}
		}
	}
}
</script>

<style lang="sass" scoped>
.logout
	position: absolute
	right: 0
	top: -48px
	margin-top: 0 !important
.aside
	width: 100%
	flex-shrink: 0
	margin-right: 20px
	max-width: 240px
	@media (min-width: 1600px)
		max-width: 280px
		margin-right: 40px
.app-row
	display: flex
	align-items: flex-start
	padding: 0 40px
.content
	width: 100%
	max-width: 1200px
	position: relative
</style>
