<template>
	<div class="section">
		<div class="btn-wrp">
			<UiButton @click.native="$router.push('/professions/new')" class="blue">
				<img src="@/assets/icons/add.svg" alt="icon">
				Добавить
			</UiButton>
		</div>
		<div class="header-wrp">
			<h1 class="section-heading">Специальности</h1>
			<AppSelect class="region" :value="topic" />
		</div>
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<h2 class="table-heading">Код</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Специальность</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Профильные предметы</h2>
				</div>
				<div class="table-col"></div>
			</div>
			<div class="table-row" v-for="item, index in 7" :key="index">
				<div class="table-col">
					<p class="table-text">B001</p>
				</div>
				<div class="table-col">
					<p class="table-text">Педагогика и психология</p>
				</div>
				<div class="table-col">
					<p class="table-text">Математика – Физика</p>
				</div>
				<div class="table-col">
					<button class="action-btn">
						<Edit />
					</button>
					<button class="action-btn" @click="$setTrue('modal.remove')">
						<Trash />
					</button>
				</div>
			</div>
			<Pagination />
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
export default {
	data() {
		return {
			topic: 'Все предметы'
		}
	},
	components: {
		Edit,
		Trash
	}
}
</script>

<style lang="sass" scoped>
.table
	margin-top: 20px
.header-wrp
	display: flex
	align-items: center
	justify-content: space-between
.table-col
	&:nth-child(1)
		width: 10%
		text-align: center
	&:nth-child(2)
		width: 40%
	&:nth-child(3)
		width: 40%
	&:nth-child(4)
		width: 10%
		display: flex
		justify-content: flex-end
.action-btn
	margin-right: 20px
	&:first-child
		margin-right: 10px
.region
	margin-left: auto
	width: 320px
.row
	display: flex
	justify-content: space-between
.btn-wrp
	display: flex
	justify-content: flex-end
	margin-bottom: 20px
	button
		margin-top: 0
</style>
