<template>
	<div class="form">
		<QuotaModal />
		<div class="section">
			<div class="name-wrp">
				<div class="col">
					<h3 class="section-heading">Код</h3>
					<input type="text" class="input">
				</div>
				<div class="col">
					<h3 class="section-heading">Наименование специальности</h3>
					<input type="text" class="input">
				</div>
			</div>
			<div class="topic-wrp">
				<div class="col">
					<h3 class="section-heading">Области образования</h3>
					<AppSelect :value="region" />
				</div>
				<div class="col">
					<h3 class="section-heading">Профильные предметы</h3>
					<AppSelect :value="topic" />
				</div>
			</div>
			<div class="grid">
				<div class="col">
					<h3 class="section-heading">Количество грантов в 2020 году</h3>
					<input type="text" class="input">
				</div>
				<div class="col">
					<h3 class="section-heading">Количество грантов в 2021 году</h3>
					<input type="text" class="input">
				</div>
				<div class="col">
					<h3 class="section-heading">Количество грантов в 2022 году</h3>
					<input type="text" class="input">
				</div>
				<div class="col">
					<h3 class="section-heading">Общий конкурс на грант 2020</h3>
					<div class="col-grid">
						<div class="block">
							<h3 class="section-heading">Min</h3>
							<input type="text" class="input">
						</div>
						<div class="block">
							<h3 class="section-heading">Max</h3>
							<input type="text" class="input">
						</div>
					</div>
				</div>
				<div class="col">
					<h3 class="section-heading">Общий конкурс на грант 2021</h3>
					<div class="col-grid">
						<div class="block">
							<h3 class="section-heading">Min</h3>
							<input type="text" class="input">
						</div>
						<div class="block">
							<h3 class="section-heading">Max</h3>
							<input type="text" class="input">
						</div>
					</div>
				</div>
				<div class="col">
					<h3 class="section-heading">Общий конкурс на грант 2022</h3>
					<div class="col-grid">
						<div class="block">
							<h3 class="section-heading">Min</h3>
							<input type="text" class="input">
						</div>
						<div class="block">
							<h3 class="section-heading">Max</h3>
							<input type="text" class="input">
						</div>
					</div>
				</div>
				<div class="col">
					<h3 class="section-heading">Сельская квота 2020</h3>
					<div class="col-grid">
						<div class="block">
							<h3 class="section-heading">Min</h3>
							<input type="text" class="input">
						</div>
						<div class="block">
							<h3 class="section-heading">Max</h3>
							<input type="text" class="input">
						</div>
					</div>
				</div>
				<div class="col">
					<h3 class="section-heading">Сельская квота 2021</h3>
					<div class="col-grid">
						<div class="block">
							<h3 class="section-heading">Min</h3>
							<input type="text" class="input">
						</div>
						<div class="block">
							<h3 class="section-heading">Max</h3>
							<input type="text" class="input">
						</div>
					</div>
				</div>
				<div class="col">
					<h3 class="section-heading">Сельская квота 2022</h3>
					<div class="col-grid">
						<div class="block">
							<h3 class="section-heading">Min</h3>
							<input type="text" class="input">
						</div>
						<div class="block">
							<h3 class="section-heading">Max</h3>
							<input type="text" class="input">
						</div>
					</div>
				</div>
			</div>
			<div class="editor-wrp">
				<h3 class="section-heading">Описание</h3>
				<Editor />
			</div>
			<div class="btn-wrp">
				<UiButton class="blue">Сохранить</UiButton>
			</div>
		</div>
		<div v-if="0" class="section">
			<h3 class="section-heading -bold">Квоты</h3>
			<Checkbox class="checkbox">
				<p>Сельская квота</p>
			</Checkbox>
			<Checkbox class="checkbox">
				<p>Многодетная семья</p>
			</Checkbox>
			<Checkbox class="checkbox">
				<p>Серпін</p>
			</Checkbox>
			<Checkbox class="checkbox">
				<p>Педагогическая квота</p>
			</Checkbox>
			<Checkbox class="checkbox">
				<p>Инвалидность (І, ІІ групп)</p>
			</Checkbox>
			<Checkbox class="checkbox">
				<p>Неполная семья (имеющим данный статус не менее трех лет)</p>
			</Checkbox>
			<div class="btn-wrp">
				<button class="button">Сохранить</button>
			</div>
		</div>
		<div class="section">
			<h3 class="section-heading -bold">ВУЗы</h3>
			<Checkbox class="checkbox">
				<p>001 - Медицинский университет Астана (МУА)</p>
				<button class="quota-btn" @click="$setTrue('modal.quota')">Квота</button>
			</Checkbox>
			<div class="btn-wrp">
				<UiButton class="grey">Назад</UiButton>
				<UiButton class="blue">Сохранить</UiButton>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			region: '--',
			topic: '--'
		}
	}
}
</script>

<style lang="sass" scoped>
.quota-btn
	margin-left: auto
	background: #E5ECFF
	box-shadow: 0px 1px 1px rgba(102, 141, 255, 0.5)
	border-radius: 10px
	font-size: 15px
	font-weight: 400
	color: #668DFF
	padding: 0 22px
	height: 36px
.topic-wrp, .col-grid
	display: grid
	grid-template-columns: 1fr 1fr
	grid-gap: 30px
.topic-wrp
	margin-bottom: 50px
.table-col:nth-child(1),
.table-col:nth-child(4)
	width: 10%
	text-align: center
.table-col:nth-child(2),
.table-col:nth-child(3)
	width: calc(40% - 4px)
.table-col:nth-child(2)
	padding-left: 30px
	margin-left: 4px
.table-col:nth-child(3)
	padding-right: 30px
	margin-right: 4px
.code, .table-input
	width: 10%
	text-align: center
.table-input
	font-size: 15px
	font-weight: 300
	transition: .3s ease
	&:focus
		border-color: var(--c-accent)
.code, .table-input, .table-center
	background: #fff
	padding: 10px 0
	border: 1px solid #E5ECFF
	border-radius: 10px
.table-center
	width: calc(80% - 8px)
	margin: 0 4px
	display: flex
	padding: 10px 30px
	.col
		width: 50%
.table-row
	border: none
	background: transparent
.topic
	width: 320px
.section
	margin-bottom: 30px
.heading-wrp
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 20px
	.section-heading
		font-weight: 600
.btn-wrp
	display: flex
	justify-content: flex-end
	margin-top: 30px
	button
		width: 160px
		margin-top: 0
	.blue
		margin-left: 10px
.editor-wrp
	margin-top: 20px
.checkbox
	margin-top: 20px
.name-wrp
	display: flex
	margin-bottom: 50px
	.col:nth-child(1)
		width: 120px
		flex-shrink: 0
		margin-right: 30px
	.col:nth-child(2)
		flex-grow: 1
.grid
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-row-gap: 50px
	grid-column-gap: 30px
	margin-bottom: 50px
.col
	.input
		width: 100%
.section-heading
	font-weight: 400
	&.-bold
		font-weight: 600
</style>
