<template>
	<div class="login">
		<div class="inner">
			<img src="@/assets/img/logo-white.svg" alt="logo" class="logo">
			<input type="text" v-model="login.phoneNumber" placeholder="username">
			<div class="input-wrp">
				<input :type="visible ? 'text' : 'password'" v-model="login.password" placeholder="password">
				<button class="toggle" @click="visible = !visible">
					<img src="@/assets/icons/eye.svg" v-if="!visible" alt="icon">
					<img src="@/assets/icons/eye-slash.svg" v-else alt="icon">
				</button>
			</div>
			<span v-if="errors">{{ errors }}</span>
			<UiButton class="orange" @click.native="userLogin">Войти</UiButton>
		</div>
	</div>
</template>

<script>
import {validationMixin} from "vuelidate";
import {required} from "vuelidate/lib/validators";

export default {
	layout: 'auth',
	data() {
		return {
			visible: false,
			login: {
				// phoneNumber: null,
				phoneNumber: "77776221100",
				password: "EduSer2022"
				// password: null
			},
			errors: null,
			showPsw: false
		}
	},
	mixins: [validationMixin],
	methods: {
		async userLogin() {
			this.$wait.start('sign-in-loading');
			this.$v.$touch();
			if (this.$v.login.$anyError) {
				setTimeout(() => {
					this.$wait.end('sign-in-loading');
				}, 500)
				return;
			}

			try {
				await this.$auth.loginWith('local', {data: this.login}).then(() => {
					this.$router.push("/users")
				}).finally(() => {
					setTimeout(() => {
						this.$wait.end('sign-in-loading');
					}, 500)
				})
			} catch (err) {
				this.errors = err.response.data.message;
			}
		},
	},
	validations: {
		login: {
			phoneNumber: {
				required
			},
			password: {
				required
			}
		}
	},
}
</script>

<style lang="sass" scoped>
.btn
	width: 280px
	margin: 0 auto
	height: 42px
.login
	display: flex
	align-items: center
	justify-content: center
	min-height: 100vh
.inner
	background: linear-gradient(129.3deg, #004FC4 0%, #5B8DEF 100%)
	border: 1px solid #FFFFFF
	box-shadow: 0px 0px 4px rgba(102, 141, 255, 0.5)
	border-radius: 20px
	max-width: 620px
	width: 100%
	height: 480px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	input
		width: 280px
		background: #E5ECFF
		border-radius: 10px
		height: 42px
		padding: 0 20px
		font-size: 15px
		font-weight: 400
		border: none
.input-wrp
	position: relative
	button
		position: absolute
		right: 20px
		top: 50%
		transform: translateY(-50%)
		padding: 0
		background: transparent
		z-index: 1
.logo
	margin-bottom: 30px
.input-wrp, .btn
	margin-top: 30px
</style>
