<template>
	<div class="section">
		<div class="heading-wrp">
			<h1 class="section-heading">Список пользователей</h1>
			<div class="filter-wrp">
				<button class="active">Школьники</button>
				<button>Учителя</button>
				<button>Другое</button>
			</div>
		</div>
		<ListFilter />
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<p class="table-heading">№</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Пользователь</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Область/Город</p>
					<p class="table-heading -sub">Город/Район</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Школа</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Профильные предметы</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Класс</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Дата</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Тел. номер</p>
				</div>
				<div class="table-col"></div>
			</div>
			<div class="table-row" v-for="(item, index) in 8" :key="index">
				<div class="table-col">
					<p class="table-text">001</p>
				</div>
				<div class="table-col">
					<p class="table-text">Нұрсұлтан Назарбаев</p>
				</div>
				<div class="table-col">
					<p class="table-text">Туркестанская обл.</p>
					<p class="table-text -sub">Махтааралский р-н</p>
				</div>
				<div class="table-col">
					<p class="table-text">КГУ "Средняя школа имени Жумабека Ташенова"</p>
				</div>
				<div class="table-col">
					<p class="table-text">Химия-Биология</p>
				</div>
				<div class="table-col">
					<p class="table-text">11</p>
				</div>
				<div class="table-col">
					<p class="table-text">11.12.2022</p>
				</div>
				<div class="table-col">
					<p class="table-text">+77776221100</p>
				</div>
				<div class="table-col">
					<button class="delete" @click="$setTrue('modal.remove')">
						<Trash />
					</button>
				</div>
			</div>
		</div>
		<UiButton class="blue">
			Экспорт Excel
		</UiButton>
	</div>
</template>

<script>
import Trash from '@/assets/icons/trash.svg?inline'
export default {
	components: {
		Trash
	},
	data() {
		return {
			currentFilter: 0
		}
	}
}
</script>

<style lang="sass" scoped>
.heading-wrp
	display: flex
	align-items: center
	margin-bottom: 30px
.filter-wrp
	background-color: #F2F2F5
	border-radius: 10px
	padding: 2px
	display: flex
	margin-left: auto
	button
		background-color: transparent
		transition: .3s ease
		height: 38px
		font-size: 15px
		font-weight: 300
		border-radius: 10px
		padding: 0 42px
		color: #8F90A6
		&:hover, &.active
			background-color: #fff
			color: #28293D
			box-shadow: 0px 0px 2px 1px rgba(62, 123, 250, 0.3)
.avatar
	width: 24px
	height: 24px
	object-fit: cover
	border-radius: 10px
	flex-shrink: 0
	margin-right: 5px
.table
	margin-top: 30px
.table-heading, .table-text
	font-size: 12px
.table-heading
	font-weight: 400
	&.-sub
		font-size: 10px
		line-height: 1
		margin-bottom: 6px
.delete
	width: 26px
	height: 26px
	border-radius: 5px
	display: inline-flex
	align-items: center
	justify-content: center
	background-color: #E5ECFF
.table-col
	&:nth-child(1)
		width: 5%
		text-align: center
	&:nth-child(2)
		width: 15%
		display: flex
		align-items: center
	&:nth-child(3)
		width: 13%
	&:nth-child(4)
		width: 25%
	&:nth-child(5)
		width: 15%
	&:nth-child(6)
		text-align: center
		width: 5%
	&:nth-child(7)
		width: 7.5%
		text-align: center
	&:nth-child(8)
		text-align: center
		width: 10%
	&:nth-child(9)
		width: 5%
		text-align: center
</style>
