<template>
	<div>
		<div class="section">
			<div class="name-wrp">
				<h3 class="section-heading">Название курса</h3>
				<input type="text" class="input" v-model="course.name">
			</div>

			<h3 class="section-heading">Описание курса</h3>
			<div class="editor-wrp">
				<h3 class="section-heading">Описание</h3>
				<client-only>
					<quill-editor
						class="editor"
						ref="editor"
						v-model="course.description"
						:options="editorOption"
					/>
				</client-only>
			</div>

			<div class="row -select-wrp">
				<div>
					<h3 class="section-heading">Категория</h3>
					<AppSelect v-model="course.category" :options="categories"/>
				</div>
				<div>
					<h3 class="section-heading">Язык</h3>
					<AppSelect v-model="course.language" :options="languages"/>
				</div>
				<div>
					<h3 class="section-heading">Теги</h3>
					<AppSelect :multiple="true" :options="tags" v-model="course.tags"/>
				</div>
			</div>
			<div class="row -price">
				<div>
					<h3 class="section-heading">Бесплатно</h3>
					<UiSwitch class="switch" v-model="course.isFree"/>
				</div>
				<div>
					<h3 class="section-heading disabled">Цена</h3>
					<input type="text" class="input" v-model="course.price">
				</div>
				<div>
					<h3 class="section-heading">Новая цена</h3>
					<input type="text" class="input" v-model="course.newPrice">
				</div>
				<div>
					<h3 class="section-heading">WhatsApp</h3>
					<input type="text" class="input -blue">
				</div>
			</div>
			<div class="banner-wrp">
				<div>
					<h3 class="section-heading">Обложка</h3>
					<label class="file-wrp">
						<input type="file" ref="file" @input="avatarUpload" hidden>
						<UiButton class="blue upload-btn" @click.native="$refs.file.click()">Загрузить фото</UiButton>
						<p class="file-name" v-if="course.contentSet.length === 0">Файл не выбран</p>
					</label>
					<UiButton class="grey remove-btn" @click.native="course.contentSet.shift()">Удалить фото</UiButton>
				</div>
				<div class="image-wrp" v-if="course.contentSet.length > 0">
					<img :src="image.file.url" alt="image" v-for="(image, iIndex) in course.contentSet">
				</div>
			</div>
			<!--			<div class="btn-wrp">-->
			<!--				<UiButton class="blue">Сохранить</UiButton>-->
			<!--			</div>-->

			<ul class="errors" v-if="$v.course.$anyError">
				<li v-if="$v.course.name.$error">Field name has error.</li>
				<li v-if="$v.course.description.$error">Field description has error.</li>
				<li v-if="$v.course.category.$error">Field category has error.</li>
				<li v-if="$v.course.tags.$error">Field tags has error.</li>
				<li v-if="$v.course.isFree.$error">Field isFree has error.</li>
				<li v-if="$v.course.price.$error">Field price has error.</li>
			</ul>

			<div class="btn-wrp">
				<UiButton @click.native="$router.push('/courses')" class="grey">Назад</UiButton>
				<UiButton v-if="course.id === 0" @click.native="crateItem" class="blue">Создать</UiButton>
				<UiButton v-else @click.native="updateItem" class="blue">Сохранить</UiButton>
			</div>
		</div>


		<div class="section chapters" v-if="course.id">
			<div class="row -mt0 -space-between">
				<h1 class="section-heading -bold">Глава</h1>
				<UiButton @click.native="$router.push(`/chapters/0?course_id=${course.id}`)" class="blue">
					<img src="@/assets/icons/add.svg" alt="icon">
					Добавить
				</UiButton>
			</div>
			<div class="table" v-if="chapters.length > 0">
				<div class="table-header">
					<div class="table-col">
						<p class="table-heading">Название</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Уроки</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Действие</p>
					</div>
				</div>
				<client-only>
					<draggable v-model="chapters">
						<div class="table-row" v-for="(item, index) in chapters" :key="index">
							<div class="table-col">
								<img src="@/assets/icons/dots.svg" alt="icon" class="dots">
								<p class="table-text">{{ item.name }}</p>
							</div>
							<div class="table-col">
								<p class="table-text">{{ item.lessonList.length }}</p>
							</div>
							<div class="table-col">
								<button class="action-btn" @click="$router.push(`/chapters/${item.id}`)">
									<Edit/>
								</button>
								<button class="action-btn" @click="removeChapter(index)">
									<Trash/>
								</button>
							</div>
						</div>
					</draggable>
				</client-only>
			</div>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
import {minLength, required} from "vuelidate/lib/validators";
import {validationMixin} from "vuelidate";

export default {
	components: {
		Edit,
		Trash
	},
	mixins: [validationMixin],
	data() {
		return {
			url: "course-service/courses/",
			languages: [],
			tags: [],
			drag: false,
			categories: [],
			chapters: [],
			contentSet: [],
			course: {
				id: 0,
				name: null,
				category: null,
				tags: null,
				language: null,
				isFree: false,
				discount: null,
				currency: null,
				price: null,
				description: null,
				contentSet: []
			},
			editorOption: {
				theme: 'snow',
				placeholder: 'Введите текст...',
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						['blockquote', 'code-block', 'image'],
						[{ 'list': 'ordered'}, { 'list': 'bullet' }],
						[{ 'indent': '-1'}, { 'indent': '+1' }],
						[{ 'direction': 'rtl' }],
						[{ 'color': [] }, { 'background': [] }],
						[{ 'align': [] }],
						['clean']
					]
				}
			},
			remove_link: null,
			remove_link_index: null,
		}
	},
	mounted() {
		this.getCategories();
		this.getTags();
		this.getLanguages();

		if (this.$route.params.course_id != 0) {
			this.findItem();
		}
	},
	watch: {
		removeLink (nRl, oRl) {
			if (nRl == null && oRl === this.remove_link){
				this.chapters.splice(this.remove_link_index, 1);
				this.remove_link_index = null
			}
		},
	},
	computed: {
		removeLink() {
			return this.$store.getters["flags/getRemoveLink"]
		},
	},
	methods: {
		async getCategories() {
			await this.$axios.get('course-service/categories/search?page=0&size=40&sort=id&searchText')
				.then(response => {
					this.categories = response.data.content
				});
		},
		async getChapters() {
			await this.$axios.get(`course-service/chapters/by-course/${this.course.id}`)
				.then(response => {
					this.chapters = response.data
				});
		},
		async getTags() {
			await this.$axios.get('course-service/tags/search?page=0&size=40&sort=id&searchText')
				.then(response => {
					this.tags = response.data.content
				});
		},
		async getLanguages() {
			await this.$axios.get('/course-service/languages/search?page=0&size=40&sort=id&searchText')
				.then(response => {
					this.languages = response.data.content
				});
		},
		async crateItem() {
			this.$v.$touch();

			if (this.$v.course.$anyError) {
				setTimeout(() => this.$wait.end('loading'), 1000);
				return;
			}

			let obj = this.course;
			delete obj.id;

			await this.$axios
				.post(this.url, obj)
				.then(response => {
					this.$setTrue('toast.success')
					this.$router.push('/courses')
				});
		},
		async updateItem() {
			this.$v.$touch();

			if (this.$v.course.$anyError) {
				setTimeout(() => this.$wait.end('loading'), 1000);
				return;
			}

			await this.$axios
				.put(this.url, this.course)
				.then(response => {
					this.$setTrue('toast.success')
					this.$router.push({path: '/courses'})
				});
		},
		async findItem() {
			await this.$axios.get(this.url + this.$route.params.course_id)
				.then(response => {
					this.course = response.data
					this.getChapters();
				});
		},
		async avatarUpload() {
			let formData = new FormData();
			formData.append('file', this.$refs.file.files[0]);

			if (this.$refs.file.files[0].type.split('/')[0] === "image") {
				formData.append('type', "IMG");
			} else {
				formData.append('type', "VIDEO");
			}

			await this.$axios.post('course-service/content/upload-file',
				formData,
				{
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}
			).then(response => {
				this.$setTrue('toast.success')
				this.course.contentSet.push({
					file: response.data
				})
			}).catch(function () {
				console.log('FAILURE!!');
			});
		},
		avatarRemove() {
			this.university.avatar = null
		},
		async removeChapter(index) {
			this.remove_link_index = index;
			this.remove_link = 'course-service/chapters/' + this.chapters[index].id;
			this.$store.commit("flags/SET_REMOVE_LINK", this.remove_link)
			this.$setTrue('modal.remove')
		},
	},
	validations: {
		course: {
			price: {
				required
			},
			name: {
				required
			},
			description: {
				required
			},
			category: {
				required
			},
			tags: {
				required
			},
			isFree: {
				required
			}
		}
	},
}
</script>

<style lang="sass" scoped>
.table
	margin-top: 30px

.table-text, .table-heading
	font-size: 12px

.table-row, .table-header
	padding-left: 20px
	padding-right: 20px

.table-header
	.table-col:nth-child(1)
		padding-left: 26px

.table-row
	cursor: move

.dots
	margin-right: 20px

.table-col
	&:nth-child(1)
		width: 70%
		display: flex
		align-items: center

	&:nth-child(2)
		width: 20%

	&:nth-child(3)
		width: 10%
		display: flex
		justify-content: center

		button
			margin: 0 5px

.chapters
	margin-top: 30px

	.row
		display: flex

		&.-space-between
			justify-content: space-between

.editor
	min-height: 170px

.section-heading
	font-weight: 400

	&.disabled
		color: #8F90A6

	&.-bold
		font-weight: 600

.name-wrp
	margin-bottom: 50px

.input
	width: 100%

	&.-blue
		color: var(--c-accent)

.banner-wrp
	display: flex

.image-wrp
	max-width: 645px
	width: 100%
	border: 1px solid #E5ECFF
	display: flex
	align-items: center
	justify-content: center
	background: #fff
	margin-left: auto
	height: 360px
	border-radius: 10px

.btn-wrp
	margin-top: 20px
	display: flex
	justify-content: flex-end

	button
		width: 160px

	.blue
		margin-left: 10px

.file-wrp
	display: flex
	align-items: center
	margin-bottom: 20px

	.upload-btn
		width: 160px
		padding: 0
		margin-top: 5px

.remove-btn
	width: 160px
	margin-left: 0
	margin-top: 0

.file-name
	font-size: 14px
	font-weight: 400
	margin-left: 20px
	color: var(--c-gray)

.switch
	margin-top: 14px

.row
	margin: 50px 0
	display: grid
	grid-gap: 30px
	grid-template-columns: .6fr .4fr

	&.-mt0
		margin-top: 0

	&.-select-wrp
		grid-template-columns: 30% 20% 1fr

	&.-price
		grid-template-columns: .1fr .3fr .3fr .3fr
</style>
