<template>
	<div class="section">
		<div class="link-wrp">
			<UiButton @click.native="$router.push('/courses/new-author')" class="blue">
				<img src="@/assets/icons/add.svg" alt="icon">
				Добавить
			</UiButton>
		</div>
		<h1 class="section-heading">Авторы курсов</h1>
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<p class="table-heading">№</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Пользователь</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Тел. номер</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Курсы</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Продано</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Действие</p>
				</div>
			</div>
			<div class="table-row" v-for="(item, index) in 7" :key="index">
				<div class="table-col">
					<p class="table-text">001</p>
				</div>
				<div class="table-col">
					<img src="@/assets/img/avatar.png" alt="avatar" class="avatar">
					<p class="table-text">Нұрсұлтан Назарбаев</p>
				</div>
				<div class="table-col">
					<p class="table-text">+77776221100</p>
				</div>
				<div class="table-col">
					<p class="table-text">1</p>
				</div>
				<div class="table-col">
					<p class="table-text">756</p>
				</div>
				<div class="table-col">
					<button class="action-btn">
						<Edit />
					</button>
					<nuxt-link to="/courses/purchased" class="action-btn">
						<Users />
					</nuxt-link>
					<button class="action-btn" @click="$setTrue('modal.remove')">
						<Trash />
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
import Users from '@/assets/icons/users2.svg?inline'
export default {
	name: "authors",
	components: {
		Edit,
		Trash,
		Users
	}
}
</script>

<style lang="sass" scoped>
.link-wrp
	display: flex
	justify-content: flex-end
	margin-bottom: 30px
.table
	margin-top: 30px
.table-text, .table-heading
	font-size: 12px
.table-row, .table-header
	padding-left: 20px
	padding-right: 20px
.table-col
	&:nth-child(1)
		width: 5%
	&:nth-child(2)
		width: 30%
		display: flex
		align-items: center
	&:nth-child(3)
		width: 20%
	&:nth-child(4)
		width: 20%
	&:nth-child(5)
		flex-grow: 1
	&:nth-child(6)
		width: 10%
		display: flex
		justify-content: space-between
.avatar
	width: 24px
	height: 24px
	border-radius: 10px
	object-fit: cover
	flex-shrink: 0
	margin-right: 5px
</style>
