<template>
	<div class="section">
		<div class="row">
			<h1 class="section-heading">Курсы Нұрсұлтан Назарбаева</h1>
			<UiButton @click.native="$router.push('/courses/0')" class="blue">
				<img src="@/assets/icons/add.svg" alt="icon">
				Добавить
			</UiButton>
		</div>
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<p class="table-heading">Название</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Категория</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Язык</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Цена</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Дата</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Продано</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Активность</p>
				</div>
				<div class="table-col">
					<p class="table-heading">Действие</p>
				</div>
			</div>
			<div class="table-row" v-for="(item, index) in courses" :key="index">
				<div class="table-col">
					<p class="table-text">{{ item.name }}</p>
				</div>
				<div class="table-col">
					<p class="table-text">{{ item.category }}</p>
				</div>
				<div class="table-col">
					<p class="table-text">{{ item.language }}</p>
				</div>
				<div class="table-col">
					<p class="table-text">{{ item.price }} {{ item.currency }}</p>
				</div>
				<div class="table-col">
					<p class="table-text">{{ item.createdAt }}</p>
				</div>
				<div class="table-col">
					<p class="table-text">356</p>
				</div>
				<div class="table-col">
					<UiSwitch/>
				</div>
				<div class="table-col">
					<button class="action-btn" @click="$router.push({path: '/courses/' + item.id})">
						<Edit/>
					</button>
					<nuxt-link to="/courses/purchased" class="action-btn">
						<Users/>
					</nuxt-link>
					<button class="action-btn" @click="remove(index)">
						<Trash/>
					</button>
				</div>
			</div>

			<pagination
				v-if="totalElements > size"
				v-model="page"
				:records="totalElements"
				:perPage="size"
				:options="options"
				@paginate="getCourses"
			/>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
import Users from '@/assets/icons/users2.svg?inline'
import Pagination2 from "~/components/Pagination2";

export default {
	components: {
		Edit,
		Trash,
		Users,
		Pagination2
	},
	data() {
		return {
			courses: [],
			totalElements: 0,
			errors: null,
			page: 1,
			size: 100,
			sort: "id",
			order: "DESC",
			remove_link: null,
			remove_link_index: null,
			options: {
				template: Pagination2
			}
		}
	},
	mounted() {
		this.getCourses()
	},
	computed: {
		removeLink() {
			return this.$store.getters["flags/getRemoveLink"]
		},
	},
	watch: {
		removeLink (nRl, oRl) {
			if (nRl == null && oRl === this.remove_link){
				this.courses.splice(this.remove_link_index, 1);
				this.remove_link_index = null
			}
		},
	},
	methods: {
		async getCourses() {

			let query = {}

			if (this.queryPage) {
				query.page = this.queryPage
			}

			if (this.size) {
				query.size = this.size
			}

			if (this.sort) {
				query.sort = this.sort
			}

			if (this.order) {
				query.order = this.order
			}

			await this.$axios.get('course-service/courses/get-page/by-owner', {params: query})
				.then(response => {
					this.courses = response.data.content
					this.totalElements = response.data.totalElements
					this.scrollToTop()
				})
		},
		async remove(index) {
			this.remove_link_index = index;
			this.remove_link = 'course-service/courses/' + this.courses[index].id;
			this.$store.commit("flags/SET_REMOVE_LINK", 'course-service/courses/' + this.courses[index].id)
			this.$setTrue('modal.remove')
		},
		scrollToTop() {
			window.scrollTo({
				top: 0,
				left: 0,
				behavior: "smooth"
			});
		},
	}
}
</script>

<style lang="sass" scoped>
.row
	display: flex
	align-items: center
	justify-content: space-between

	button
		margin-top: 0

.table
	margin-top: 30px

.table-text, .table-heading
	font-size: 12px

.table-row, .table-header
	padding-left: 20px
	padding-right: 20px

.table-col
	&:nth-child(1)
		width: 25%

	&:nth-child(2)
		width: 17.5%

	&:nth-child(3),
	&:nth-child(5)
		width: 10%

	&:nth-child(4),
	&:nth-child(6)
		width: 7.5%

	&:nth-child(7)
		width: 12.5%

	&:nth-child(8)
		width: 10%
		display: flex
		justify-content: space-between
</style>
