<template>
	<div class="section">
		<div class="inner">
			<img src="@/assets/img/avatar.png" alt="avatar" class="avatar">
			<div class="btn-wrp">
				<UiButton class="grey">Удалить фото</UiButton>
				<label>
					<input type="file" hidden>
					<span>Загрузить фото</span>
				</label>
			</div>
			<div class="divider"></div>
			<div class="grid">
				<div class="input-wrp">
					<input type="text" class="input -error" placeholder="Имя">
					<p class="error-text">
						<img src="@/assets/icons/alert-error.svg" alt="icon">
						Неверно введен e-mail
					</p>
				</div>
				<div class="input-wrp">
					<input type="text" class="input" placeholder="Фамилия">
					<p class="error-text">
						<img src="@/assets/icons/alert-error.svg" alt="icon">
						Неверно введен e-mail
					</p>
				</div>
				<div class="input-wrp">
					<input type="text" class="input" placeholder="Телефон">
					<p class="error-text">
						<img src="@/assets/icons/alert-error.svg" alt="icon">
						Неверно введен e-mail
					</p>
				</div>
				<div class="input-wrp">
					<input type="email" class="input" placeholder="E-mail">
					<p class="error-text">
						<img src="@/assets/icons/alert-error.svg" alt="icon">
						Неверно введен e-mail
					</p>
				</div>
				<div class="input-wrp">
					<input type="text" class="input" placeholder="Логин">
					<p class="error-text">
						<img src="@/assets/icons/alert-error.svg" alt="icon">
						Неверно введен e-mail
					</p>
				</div>
				<div class="input-wrp">
					<input type="password" class="input" placeholder="Пароль">
					<p class="error-text">
						<img src="@/assets/icons/alert-error.svg" alt="icon">
						Неверно введен e-mail
					</p>
				</div>
			</div>
			<div class="divider"></div>
			<UiButton class="blue save-btn">Сохранить изменение</UiButton>
		</div>
	</div>
</template>

<script>
export default {
	name: "new-author"
}
</script>

<style lang="scss" scoped>
.divider {
	width: 100%;
	height: 1px;
	margin: 30px 0;
	background-color: #E5ECFF;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 37px;
	width: 100%;
}
.input-wrp {
	.input {
		width: 100%;
		&.-error {
			border-color: #D972F4;
		}
	}
}
.inner {
	max-width: 846px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.error-text {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 300;
	color: #D972F4;
	margin-top: 5px;
	margin-left: 18px;
	img {
		margin-right: 2px;
	}
}
.avatar {
	width: 136px;
	height: 136px;
	border-radius: 30px;
	object-fit: cover;
	margin-bottom: 30px;
}
.save-btn {
	margin: 0 auto;
	height: 48px;
	width: 286px;
}
.btn-wrp {
	display: flex;
	justify-content: center;
	label {
		cursor: pointer;
	}
	span {
		width: 160px;
		height: 36px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
	}
	button {
		margin-right: 30px;
		margin-top: 0;
	}
	span {
		background: linear-gradient(129.3deg, #004FC4 0%, #5B8DEF 100%);
	}
}
</style>
