<template>
	<div>
		<div class="section">
			<h3 class="section-heading -bold">Тема</h3>
			<div class="input-wrp">
				<h3 class="section-heading">Название</h3>
				<input type="text" class="input">
			</div>
			<div class="input-wrp">
				<h3 class="section-heading">Ссылка</h3>
				<input type="text" class="input" value="https://youtu.be/OHFfsuwuyAU">
			</div>
			<div class="input-wrp">
				<h3 class="section-heading">Лекция</h3>
				<Editor class="editor" />
			</div>
			<div class="btn-wrp">
				<UiButton class="blue">Сохранить</UiButton>
			</div>
		</div>
		<div class="section tests">
			<div class="row -mt0 -space-between">
				<h1 class="section-heading -bold">Тесты</h1>
				<UiButton @click.native="$router.push('/courses/new-test')" class="blue add-btn">
					<img src="@/assets/icons/add.svg" alt="icon">
					Добавить
				</UiButton>
			</div>
			<div class="table">
				<div class="table-header">
					<div class="table-col">
						<p class="table-heading">Вопросы</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Правильный ответ</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Дата</p>
					</div>
					<div class="table-col">
						<p class="table-heading">Действие</p>
					</div>
				</div>
				<client-only>
					<draggable v-model="tests">
						<div class="table-row" v-for="item, index in tests" :key="index">
							<div class="table-col">
								<img src="@/assets/icons/dots.svg" alt="icon" class="dots">
								<p class="table-text">{{item}}</p>
							</div>
							<div class="table-col">
								<p class="table-text">D) Күтілетін нәтиже</p>
							</div>
							<div class="table-col">
								<p class="table-text">10.10.2022/16:36</p>
							</div>
							<div class="table-col">
								<button class="action-btn">
									<Edit />
								</button>
								<button class="action-btn" @click="$setTrue('modal.remove')">
									<Trash />
								</button>
							</div>
						</div>
					</draggable>
				</client-only>
			</div>
			<div class="btn-wrp">
				<UiButton class="grey">Назад</UiButton>
				<UiButton class="blue">Сохранить</UiButton>
			</div>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
export default {
	components: {
		Edit,
		Trash
	},
	data() {
		return {
			category: '--',
			lang: '--',
			tags:  '--',
			drag: false,
			tests: [
				'Кинематика негізгі түсініктері мен теңдеулері 1',
				'Кинематика негізгі түсініктері мен теңдеулері 2',
				'Кинематика негізгі түсініктері мен теңдеулері 3',
				'Кинематика негізгі түсініктері мен теңдеулері 4',
				'Кинематика негізгі түсініктері мен теңдеулері 5',
				'Кинематика негізгі түсініктері мен теңдеулері 6',
				'Кинематика негізгі түсініктері мен теңдеулері 7',
				'Кинематика негізгі түсініктері мен теңдеулері 8',
			]
		}
	}
}
</script>

<style lang="sass" scoped>
.add-btn
	margin-top: 0
.row
	display: flex
	align-items: center
	justify-content: space-between
.table
	margin-top: 30px
.table-text, .table-heading
	font-size: 12px
.table-row, .table-header
	padding-left: 20px
	padding-right: 20px
.table-header
	.table-col:nth-child(1)
		padding-left: 26px
.table-row
	cursor: move
.dots
	margin-right: 20px
.table-col
	&:nth-child(1)
		width: 35%
		display: flex
		align-items: center
	&:nth-child(2)
		width: 45%
	&:nth-child(3)
		width: 10%
	&:nth-child(4)
		width: 10%
		display: flex
		justify-content: center
		button
			margin: 0 5px
.tests
	margin-top: 30px
.section-heading
	font-weight: 400
	&.-mb
		margin-bottom: 30px
	&.-bold
		font-weight: 600
.input
	width: 100%
.input-wrp
	margin-top: 30px
.editor
	min-height: 170px
.btn-wrp
	margin-top: 20px
	display: flex
	justify-content: flex-end
	button
		width: 160px
	.blue
		margin-left: 10px
</style>
