<template>
	<div class="form">
		<QuotaModal
			v-if="quotaModalIndex != null"
		></QuotaModal>
		<div class="section">
			<div class="name-wrp">
				<div class="col">
					<h3 class="section-heading">Код</h3>
					<input type="text" v-model="speciality.code" class="input">
				</div>
				<div class="col">
					<h3 class="section-heading">Наименование специальности</h3>
					<input type="text" v-model="speciality.name" class="input">
				</div>
			</div>
			<div class="topic-wrp">
				<div class="col">
					<h3 class="section-heading">Области образования</h3>
					<AppSelect :multiple="true" :options="educationalDirections"
							   v-model="speciality.educationalDirections"/>
				</div>
				<div class="col">
					<h3 class="section-heading">Профильные предметы</h3>
					<AppSelect :multiple="true" :options="subjects" v-model="speciality.subjects"/>
				</div>
			</div>
			<div class="grid">
				<div class="col" v-if="speciality.generalCompetitionProbabilities">
					<h3 class="section-heading">Общий конкрус</h3>
					<div class="col-grid">
						<div class="block" v-for="(gc, index) in generalCompetitionProbabilities">
							<h3 class="section-heading">{{ gc.probability }}%</h3>
							<input type="text" class="input" v-model="speciality.generalCompetitionProbabilities[index].score">
						</div>
					</div>
				</div>
			</div>


			<div class="editor-wrp">
				<h3 class="section-heading">Описание</h3>
				<client-only>
					<quill-editor
						class="editor"
						ref="editor"
						v-model="speciality.description"
						:options="editorOption"
					/>
				</client-only>
			</div>

			<div class="btn-wrp">
				<button
					v-if="speciality_id"
					@click="updateItem"
					class="button"
					:disabled="$v.$invalid"
				>Обновить
				</button>

				<button
					v-else
					@click="crateItem"
					class="button"
					:disabled="$v.$invalid"
				>Сохранить
				</button>
			</div>
		</div>

		<div class="section" v-if="speciality_id && speciality_universities.length > 0">
			<h3 class="section-heading -bold">ВУЗы</h3>
			<CheckboxV
				v-for="(s_u, index) in speciality_universities"
				:val="s_u.isActive"
				:key="index"
				@change="$store.commit('requests/TOGGLE_SPECIALITY_UNIVERSITY', {index: index, field: 'isActive'})"
				class="checkbox">
				<p>{{ universities[index].code }} - {{ universities[index].name }}</p>
				<button class="quota-btn"
						@click="$store.commit('requests/SET', {name: 'quotaModalIndex', data: index})">Квота
				</button>
			</CheckboxV>
			<div class="btn-wrp">
				<BackBtn/>
				<button @click="saveUniversities" class="button">Сохранить
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import {validationMixin} from "vuelidate";
import {minLength, required} from "vuelidate/lib/validators";
import quotaModal from "~/components/pages/specialities/form";

export default {
	mixins: [validationMixin],
	props: ['speciality_id'],
	data() {
		return {
			url: '/specialities',
			speciality: {
				id: null,
				code: null,
				name: null,
				description: null,
				avatar: null,
				subjects: [],
				educationalDirections: [],
				generalCompetitionProbabilities: [
					{probability: 50, score: null},
					{probability: 60, score: null},
					{probability: 70, score: null},
					{probability: 80, score: null},
					{probability: 90, score: null},
					{probability: 100, score: null},
				],
			},
			generalCompetitionProbabilities: [
				{probability: 50, score: null},
				{probability: 60, score: null},
				{probability: 70, score: null},
				{probability: 80, score: null},
				{probability: 90, score: null},
				{probability: 100, score: null},
			],
			editorOption: {
				theme: 'snow',
				placeholder: 'Введите текст...',
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						['blockquote', 'code-block', 'image'],
						[{ 'list': 'ordered'}, { 'list': 'bullet' }],
						[{ 'indent': '-1'}, { 'indent': '+1' }],
						[{ 'direction': 'rtl' }],
						[{ 'color': [] }, { 'background': [] }],
						[{ 'align': [] }],
						['clean']
					]
				}
			}
		}
	},
	computed: {
		subjects() {
			return this.$store.getters["requests/GET"]('subjects')
		},
		educationalDirections() {
			return this.$store.getters["requests/GET"]('educationalDirections')
		},
		universities() {
			return this.$store.getters["requests/GET"]('universities')
		},
		speciality_universities() {
			return this.$store.getters["requests/GET"]('speciality_universities')
		},
		quotaModalIndex() {
			return this.$store.getters["requests/GET"]('quotaModalIndex')
		},
	},
	mounted() {
		this.$store.dispatch("requests/getSubjects")
		this.$store.dispatch("requests/getEducationalDirections")
		if (this.speciality_id) {
			this.findItem()
		}
	},
	methods: {
		async crateItem() {
			this.$v.$touch();

			if (this.$v.speciality.$anyError) {
				setTimeout(() => this.$wait.end('loading'), 1000);
				this.$setTrue('toast.error')
				return;
			}

			await this.$axios
				.post("handbook-service/" + this.url, this.speciality)
				.then(response => {
					this.$setTrue('toast.success')
					this.$router.push({path: this.url})
				});
		},
		async updateItem() {
			this.$v.$touch();

			if (this.$v.speciality.$anyError) {
				setTimeout(() => this.$wait.end('loading'), 1000);
				this.$setTrue('toast.error')
				return;
			}

			await this.$axios
				.put("handbook-service/" + this.url, this.speciality)
				.then(response => {
					this.$setTrue('toast.success')
					this.$router.push({path: this.url})
				});
		},
		async saveUniversities() {
			this.$store.dispatch('requests/saveSpecialityUniversities').then(() => {
				this.$setTrue('toast.success')
			})
		},
		async findItem() {
			await this.$axios.get("handbook-service/" + this.url + '/' + this.$route.params.speciality_id)
				.then(response => {
					let sp = response.data

					if(sp.generalCompetitionProbabilities){
						this.generalCompetitionProbabilities.forEach((item, index) => {
							let gc = sp.generalCompetitionProbabilities.find(i => i.probability === item.probability)
							if (!gc){
								sp.generalCompetitionProbabilities.push(item)
							}
						})
						sp.generalCompetitionProbabilities.sort((a, b) => a.probability - b.probability)
					} else {
						sp.generalCompetitionProbabilities = this.generalCompetitionProbabilities
					}

					this.speciality = sp
				});
		}
	},
	validations: {
		speciality: {
			code: {
				required
			},
			name: {
				required
			}
		}
	},
	components: {quotaModal}
}
</script>

<style lang="sass" scoped>
.quota-btn
	margin-left: auto
	background: #E5ECFF
	box-shadow: 0px 1px 1px rgba(102, 141, 255, 0.5)
	border-radius: 10px
	font-size: 15px
	font-weight: 400
	color: #668DFF
	padding: 0 22px
	height: 36px

.topic-wrp
	display: grid
	grid-template-columns: 1fr 1fr
	grid-gap: 30px

.col-grid
	display: grid
	grid-template-columns: repeat(6, 1fr)
	grid-gap: 30px

.topic-wrp
	margin-bottom: 50px

.table-col:nth-child(1),
.table-col:nth-child(4)
	width: 10%
	text-align: center

.table-col:nth-child(2),
.table-col:nth-child(3)
	width: calc(40% - 4px)

.table-col:nth-child(2)
	padding-left: 30px
	margin-left: 4px

.table-col:nth-child(3)
	padding-right: 30px
	margin-right: 4px

.code, .table-input
	width: 10%
	text-align: center

.table-input
	font-size: 15px
	font-weight: 300
	transition: .3s ease

	&:focus
		border-color: var(--c-accent)

.code, .table-input, .table-center
	background: #fff
	padding: 10px 0
	border: 1px solid #E5ECFF
	border-radius: 10px

.table-center
	width: calc(80% - 8px)
	margin: 0 4px
	display: flex
	padding: 10px 30px

	.col
		width: 50%

.table-row
	border: none
	background: transparent

.topic
	width: 320px

.section
	margin-bottom: 30px

.heading-wrp
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 20px

	.section-heading
		font-weight: 600

.btn-wrp
	display: flex
	justify-content: flex-end
	margin-top: 30px

.editor-wrp
	margin-top: 20px

.checkbox
	margin-top: 20px

.name-wrp
	display: flex
	margin-bottom: 50px

	.col:nth-child(1)
		width: 120px
		flex-shrink: 0
		margin-right: 30px

	.col:nth-child(2)
		flex-grow: 1

.grid
	display: grid
	//grid-template-columns: 1fr 1fr 1fr
	grid-row-gap: 50px
	grid-column-gap: 30px
	margin-bottom: 50px

.col
	.input
		width: 100%

.section-heading
	font-weight: 400

	&.-bold
		font-weight: 600
</style>
