<template>
	<div class="section">
		<h3 class="section-heading">Тема</h3>
		<input type="text" class="input">
		<div class="row">
			<div class="col">
				<h3 class="section-heading">Категория</h3>
				<AppSelect :value="category" />
			</div>
			<div class="col">
				<h3 class="section-heading">Теги</h3>
				<input type="text" class="input">
			</div>
		</div>
		<div class="banner-wrp">
			<div class="col">
				<h3 class="section-heading">Обложка</h3>
				<label class="file-wrp">
					<input type="file" hidden>
					<UiButton class="blue">Загрузить фото</UiButton>
					<p class="file-name">Файл не выбран</p>
				</label>
				<UiButton class="remove-btn grey">Удалить фото</UiButton>
			</div>
			<div class="image-wrp">
				<img src="@/assets/img/placeholder-large.svg" alt="image">
			</div>
		</div>
		<div class="editor-wrp">
			<h3 class="section-heading">Контент</h3>
			<Editor class="editor" />
		</div>
		<div class="btn-wrp">
			<UiButton class="grey">Назад</UiButton>
			<UiButton class="blue">Опубликовать</UiButton>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			category: '--'
		}
	}
}
</script>

<style lang="sass" scoped>
.editor
	min-height: 170px
.section-heading
	font-weight: 400
.input
	width: 100%
.banner-wrp
	display: flex
.image-wrp
	max-width: 645px
	width: 100%
	border: 1px solid #E5ECFF
	display: flex
	align-items: center
	justify-content: center
	background: #fff
	margin-left: auto
	height: 360px
	border-radius: 10px
.remove-btn
	margin-left: 0
	margin-top: 10px
.btn-wrp
	margin-top: 20px
	display: flex
	justify-content: flex-end
	.blue
		margin-left: 10px
	button
		width: 160px
.file-wrp
	display: flex
	align-items: center
	margin-bottom: 20px
	button
		width: 160px
		margin-left: 0
		padding: 0
		margin-top: 5px
.remove-btn
	width: 160px
	height: 36px
	color: #fff
	font-size: 14px
	font-weight: 500
	background: var(--c-gray)
	border-radius: 10px
.file-name
	font-size: 14px
	font-weight: 400
	margin-left: 20px
	color: var(--c-gray)
.row
	margin: 50px 0
	display: grid
	grid-gap: 30px
	grid-template-columns: .3fr .7fr
</style>
