<template>
	<div class="section">
		<div class="btn-wrp">
			<h1 class="section-heading">Форум</h1>
			<UiButton @click.native="$router.push('/forum/new')" class="blue">
				<img src="@/assets/icons/add.svg" alt="icon">
				Добавить
			</UiButton>
		</div>
		<div class="table">
			<div class="table-header">
				<div class="table-col">
					<h2 class="table-heading">Вопрос</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Просмотры</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Ответы</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Репосты</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Сохранения</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Дата</h2>
				</div>
				<div class="table-col">
					<h2 class="table-heading">Действие</h2>
				</div>
			</div>
			<div class="table-row" v-for="item, index in 7" :key="index">
				<div class="table-col">
					<p class="table-text">Кинематика негізгі түсініктері мен теңдеулері</p>
				</div>
				<div class="table-col">
					<p class="table-text">77 897</p>
				</div>
				<div class="table-col">
					<p class="table-text">10900</p>
				</div>
				<div class="table-col">
					<p class="table-text">987</p>
				</div>
				<div class="table-col">
					<p class="table-text">60</p>
				</div>
				<div class="table-col">
					<p class="table-text">10.02.2022</p>
				</div>
				<div class="table-col">
					<button class="action-btn">
						<Edit />
					</button>
					<button class="action-btn" @click="$setTrue('modal.remove')">
						<Trash />
					</button>
				</div>
			</div>
			<Pagination />
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
export default {
	data() {
		return {
			topic: 'Все предметы'
		}
	},
	components: {
		Edit,
		Trash
	}
}
</script>

<style lang="sass" scoped>
.table-heading, .table-text
	font-size: 12px
.table
	margin-top: 20px
.table-col
	&:nth-child(1)
		width: 40%
		padding-left: 20px
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(5),
	&:nth-child(6)
		width: 10%
		text-align: center
	&:nth-child(7)
		width: 10%
		display: flex
		justify-content: center
.action-btn
	&:first-child
		margin-right: 10px
.row
	display: flex
	justify-content: space-between
.btn-wrp
	display: flex
	justify-content: space-between
	margin-bottom: 30px
	button
		margin-top: 0
</style>
