<template>
	<div class="section">
		<h3 class="section-heading -bold">Редактировать</h3>
		<div class="input-wrp">
			<h3 class="section-heading">Суть вопроса</h3>
			<p class="error-text">Сформулируйте вопрос так, чтобы сразу было понятно, о чём речь.</p>
			<input type="text" class="input">
		</div>
		<div class="row -select-wrp">
			<div class="col">
				<h3 class="section-heading">Категория</h3>
				<AppSelect :value="category" />
			</div>
			<div class="col">
				<h3 class="section-heading">Язык</h3>
				<AppSelect :value="lang" />
			</div>
			<div class="col">
				<h3 class="section-heading">Теги</h3>
				<AppSelect :value="tags" multiple />
			</div>
		</div>
		<h3 class="section-heading">Детали вопроса</h3>
		<p class="error-text">Опишите в подробностях свой вопрос, чтобы получить более точный ответ.</p>
		<Editor class="editor" />
		<div class="btn-wrp">
			<UiButton class="grey" @click="$router.back()">Назад</UiButton>
			<UiButton class="blue">Сохранить</UiButton>
		</div>
	</div>
</template>

<script>
import Edit from '@/assets/icons/edit.svg?inline'
import Trash from '@/assets/icons/trash.svg?inline'
export default {
	components: {
		Edit,
		Trash
	},
	data() {
		return {
			category: '--',
			lang: '--',
			tags:  '--',
		}
	}
}
</script>

<style lang="sass" scoped>
.error-text
	font-size: 12px
	font-weight: 300
	color: #FF6565
.editor
	min-height: 170px
.section-heading
	font-weight: 400
	&.-bold
		font-weight: 600
		margin-bottom: 50px
.input
	width: 100%
.btn-wrp
	margin-top: 20px
	display: flex
	justify-content: flex-end
	button
		width: 160px
	.blue
		margin-left: 10px
.row
	margin: 50px 0
	display: grid
	grid-gap: 30px
	grid-template-columns: .6fr .4fr
	&.-mt0
		margin-top: 0
	&.-select-wrp
		grid-template-columns: 30% 20% 1fr
</style>
